@charset "UTF-8";
@keyframes top-right-info {
  from {
    transform: translateX(100%); }
  to {
    transform: translateX(0%); } }
body {
  font-family: "Open Sans", sans-serif;
  color: #282828;
  background-image: url(/img/tabs/edgenight.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  -webkit-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;
  overflow-x: hidden; }

.mt-20 {
  margin-top: 20px; }

h3 {
  margin-bottom: 0; }

p.anim {
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  padding-bottom: 0;
  margin-bottom: 6px;
  font-style: italic; }

ul.dotted li {
  text-indent: -0.7em; }
  ul.dotted li:before {
    content: "•";
    padding-left: 10px;
    padding-right: 10px; }

.full {
  background-color: red;
  color: white;
  padding: 0 5px;
  margin-left: 10px; }

.backtotop {
  display: none;
  position: fixed;
  transition: margin 0.3s ease-in-out 0s;
  font-size: 50px;
  margin-left: 15px;
  top: 0px;
  cursor: pointer;
  color: rgba(205, 205, 205, 0.5); }
  .backtotop:hover {
    margin-top: -10px; }

iframe {
  width: 100%; }

section a {
  text-decoration: underline; }

header {
  height: 100vh;
  color: white;
  width: 100%;
  background-color: rgba(34, 79, 128, 0.57);
  background-image: url("/img/2018/background2018.svg");
  background-repeat: no-repeat;
  background-size: 80vh auto;
  background-position: center center;
  transition: background-position 0.05s ease-in-out; }
  header .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; }
  header a.mainlink img {
    transition: margin 0.05s ease-in-out;
    height: 25vh;
    margin-top: 5vh; }
  header a.mainlink h1 {
    color: #fff;
    font-size: 14px; }
  header a.mainlink h2 {
    position: absolute;
    bottom: 4px;
    font-size: 32px;
    left: 60px;
    color: #fff;
    font-family: "Gentium Book Basic"; }
  header p.subtitle {
    color: white;
    margin-top: 20px;
    font: 800 18px/36px "Arial", sans-serif;
    text-transform: uppercase; }
  header p.subsubtitle {
    margin-top: 20px;
    font: 400 26px/32px "gentium book basic"; }
  header p.subtitle, header p.subsubtitle {
    text-align: center; }
  header img#logo_main {
    max-width: 60%; }

section {
  background-color: white;
  color: #282828;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 200px; }
  section.planning h3 {
    margin-bottom: 0;
    background-color: #282828;
    color: white;
    display: inline-block;
    font-weight: bold;
    padding: 5px 20px;
    border: 1px solid #282828;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
  section.planning .table > thead > tr > th, section.planning .table > tbody > tr > th, section.planning .table > tfoot > tr > th, section.planning .table > thead > tr > td, section.planning .table > tbody > tr > td, section.planning .table > tfoot > tr > td {
    vertical-align: middle; }
  section.thin {
    min-height: 0; }
  section.intro {
    padding-top: 10px;
    padding-bottom: 0;
    min-height: 0; }
    section.intro .col-xs-12 p:last-child {
      margin-bottom: 0; }
    section.intro a {
      text-decoration: none;
      font-size: 108%; }
  section.content {
    background-color: #34b8d0;
    color: #282828;
    padding-top: 20px;
    font-size: 34px;
    line-height: 40px;
    font-weight: bold;
    text-align: center; }
  section.sponsors h2 {
    margin-bottom: 20px; }
  section.startups .startup {
    margin-bottom: 20px; }
    section.startups .startup .logo {
      text-align: center; }

.nav {
  min-height: auto;
  margin: 0 0;
  padding: 0;
  background-color: #282828;
  font-size: 1.1em;
  margin-bottom: 0; }

.top-right-info {
  position: absolute;
  top: 50px;
  right: -75px;
  transform: rotate(-15deg); }
  .top-right-info .line {
    text-decoration: none;
    font: 800 1.2em "Open sans";
    text-transform: uppercase;
    color: #fff;
    transition: padding 0.3s ease-in-out 0s;
    background: #0098d5;
    padding: 6px 80px 6px 20px;
    transform: translateX(100%);
    animation: top-right-info 1s normal forwards ease-in-out; }
    .top-right-info .line.line2 {
      animation-delay: 300ms;
      margin-top: 2px;
      width: 468px;
      float: right; }
    .top-right-info .line.line3 {
      animation-delay: 800ms;
      margin-top: -120px;
      width: 492px;
      float: right;
      background: #e5ad2f;
      font-size: 1.5em; }

nav {
  min-height: 0;
  margin-bottom: 0;
  padding: 1em 0;
  text-align: center;
  position: absolute;
  top: 80px;
  left: 0; }

.nav-list {
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 0; }
  .nav-list li {
    text-align: left;
    display: block;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 2px; }
  .nav-list a {
    transition: background-color 0.3s ease-in-out 0s;
    text-decoration: none;
    font: 800 1.05em "Open sans";
    text-transform: uppercase;
    color: #282828;
    transition: padding 0.3s ease-in-out 0s;
    background: #FAF3D4;
    padding: 6px 60px 6px 20px;
    display: inline-block; }
    .nav-list a.spacer {
      display: none;
      cursor: initial; }
    .nav-list a:hover {
      padding-right: 120px;
      transition: padding 0.3s ease-in-out 0s; }
    .nav-list a span {
      font-size: 0.7em;
      text-transform: initial;
      padding-right: 10px;
      display: inline-block;
      vertical-align: 2px; }
      .nav-list a span.twolines {
        vertical-align: -4px;
        line-height: 13px; }

.table th {
  text-align: center; }
.table td {
  text-align: center;
  vertical-align: middle; }

h2 {
  font: 800 24px/28px "open sans";
  margin-bottom: 40px; }

h3 {
  font: 800 21px "open sans";
  margin-bottom: 20px; }

#planning .table tr td:first-child {
  text-align: right;
  vertical-align: top;
  padding: 0 4px 8px 8px;
  font-weight: 300;
  font-size: 12px; }
#planning .table td.withcontent {
  padding: 2px;
  font-size: 16px;
  line-height: 20px; }
  #planning .table td.withcontent.summercamp {
    font-size: 14px;
    line-height: 18px; }
  #planning .table td.withcontent a {
    font-size: inherit;
    line-height: inherit; }
  #planning .table td.withcontent .subtitle {
    font-size: 90%;
    color: #ccc;
    margin-top: 5px; }

table a {
  text-decoration: underline; }

.hashtag {
  display: block;
  font-size: 32px;
  margin-top: 10px;
  margin-bottom: 20px; }

.copyright, .copyright a {
  color: white;
  font-size: 16px; }

.color-startupstories {
  color: #e5ad30; }

.color-edgenight {
  color: #a52b61; }

.color-edgeday {
  color: #c94943; }

.color-hackathon {
  color: #4dc4d6; }

.color-demodebat {
  color: #a9834a; }

.color-apero {
  color: #faae0b; }

.color-demonight {
  color: #ad5377; }

.color-summercamp {
  color: #2ca2d8; }

.color-shadok {
  color: #021b68; }

.color-pointest {
  color: #d14233; }

.color-digitalforum {
  color: #ff802e; }

.color-espacessonores {
  color: #34495e; }

.color-hacksxb {
  color: #41ad49; }

.color-fablab {
  color: #807700; }

.color-webstarter {
  color: #df8930; }

.color-challengevr {
  color: #df8930; }

.color-soireediy {
  color: #df8930; }

.color-ignite {
  color: #855794; }

.color-postcard {
  color: #0098d5; }

.color-rmll {
  color: #c94943; }

.color-blockchain {
  color: #c94943; }

.color-barcamp {
  color: #e5ad30; }

.hover-bg-startupstories:hover {
  background-color: #e5ad30;
  color: white; }

.hover-bg-edgenight:hover {
  background-color: #a52b61;
  color: white; }

.hover-bg-edgeday:hover {
  background-color: #c94943;
  color: white; }

.hover-bg-hackathon:hover {
  background-color: #4dc4d6;
  color: white; }

.hover-bg-demodebat:hover {
  background-color: #a9834a;
  color: white; }

.hover-bg-apero:hover {
  background-color: #faae0b;
  color: white; }

.hover-bg-demonight:hover {
  background-color: #ad5377;
  color: white; }

.hover-bg-summercamp:hover {
  background-color: #2ca2d8;
  color: white; }

.hover-bg-shadok:hover {
  background-color: #021b68;
  color: white; }

.hover-bg-pointest:hover {
  background-color: #d14233;
  color: white; }

.hover-bg-digitalforum:hover {
  background-color: #ff802e;
  color: white; }

.hover-bg-espacessonores:hover {
  background-color: #34495e;
  color: white; }

.hover-bg-hacksxb:hover {
  background-color: #41ad49;
  color: white; }

.hover-bg-fablab:hover {
  background-color: #807700;
  color: white; }

.hover-bg-webstarter:hover {
  background-color: #df8930;
  color: white; }

.hover-bg-challengevr:hover {
  background-color: #df8930;
  color: white; }

.hover-bg-soireediy:hover {
  background-color: #df8930;
  color: white; }

.hover-bg-ignite:hover {
  background-color: #855794;
  color: white; }

.hover-bg-postcard:hover {
  background-color: #0098d5;
  color: white; }

.hover-bg-rmll:hover {
  background-color: #c94943;
  color: white; }

.hover-bg-blockchain:hover {
  background-color: #c94943;
  color: white; }

.hover-bg-barcamp:hover {
  background-color: #e5ad30;
  color: white; }

.startupstories, .startupstories a {
  background-color: #e5ad30 !important;
  color: white;
  transition: all 0.3s ease-in-out 0s; }

.edgenight, .edgenight a {
  background-color: #a52b61 !important;
  color: white;
  transition: all 0.3s ease-in-out 0s; }

.edgeday, .edgeday a {
  background-color: #c94943 !important;
  color: white;
  transition: all 0.3s ease-in-out 0s; }

.hackathon, .hackathon a {
  background-color: #4dc4d6 !important;
  color: white;
  transition: all 0.3s ease-in-out 0s; }

.demodebat, .demodebat a {
  background-color: #a9834a !important;
  color: white;
  transition: all 0.3s ease-in-out 0s; }

.apero, .apero a {
  background-color: #faae0b !important;
  color: white;
  transition: all 0.3s ease-in-out 0s; }

.demonight, .demonight a {
  background-color: #ad5377 !important;
  color: white;
  transition: all 0.3s ease-in-out 0s; }

.summercamp, .summercamp a {
  background-color: #2ca2d8 !important;
  color: white;
  transition: all 0.3s ease-in-out 0s; }

.shadok, .shadok a {
  background-color: #021b68 !important;
  color: white;
  transition: all 0.3s ease-in-out 0s; }

.pointest, .pointest a {
  background-color: #d14233 !important;
  color: white;
  transition: all 0.3s ease-in-out 0s; }

.digitalforum, .digitalforum a {
  background-color: #ff802e !important;
  color: white;
  transition: all 0.3s ease-in-out 0s; }

.espacessonores, .espacessonores a {
  background-color: #34495e !important;
  color: white;
  transition: all 0.3s ease-in-out 0s; }

.hacksxb, .hacksxb a {
  background-color: #41ad49 !important;
  color: white;
  transition: all 0.3s ease-in-out 0s; }

.fablab, .fablab a {
  background-color: #807700 !important;
  color: white;
  transition: all 0.3s ease-in-out 0s; }

.webstarter, .webstarter a {
  background-color: #df8930 !important;
  color: white;
  transition: all 0.3s ease-in-out 0s; }

.challengevr, .challengevr a {
  background-color: #df8930 !important;
  color: white;
  transition: all 0.3s ease-in-out 0s; }

.soireediy, .soireediy a {
  background-color: #df8930 !important;
  color: white;
  transition: all 0.3s ease-in-out 0s; }

.ignite, .ignite a {
  background-color: #855794 !important;
  color: white;
  transition: all 0.3s ease-in-out 0s; }

.postcard, .postcard a {
  background-color: #0098d5 !important;
  color: white;
  transition: all 0.3s ease-in-out 0s; }

.rmll, .rmll a {
  background-color: #c94943 !important;
  color: white;
  transition: all 0.3s ease-in-out 0s; }

.blockchain, .blockchain a {
  background-color: #c94943 !important;
  color: white;
  transition: all 0.3s ease-in-out 0s; }

.barcamp, .barcamp a {
  background-color: #e5ad30 !important;
  color: white;
  transition: all 0.3s ease-in-out 0s; }

table .startupstories:hover, table .startupstories:hover a {
  background-color: #ebbf5d !important; }
table .edgenight:hover, table .edgenight:hover a {
  background-color: #cb3879 !important; }
table .edgeday:hover, table .edgeday:hover a {
  background-color: #d46f6b !important; }
table .hackathon:hover, table .hackathon:hover a {
  background-color: #76d2e0 !important; }
table .demodebat:hover, table .demodebat:hover a {
  background-color: #bd9b69 !important; }
table .apero:hover, table .apero:hover a {
  background-color: #fbbf3d !important; }
table .demonight:hover, table .demonight:hover a {
  background-color: #bd7692 !important; }
table .summercamp:hover, table .summercamp:hover a {
  background-color: #57b5e0 !important; }
table .pointest:hover, table .pointest:hover a {
  background-color: #db695d !important; }
table .digitalforum:hover, table .digitalforum:hover a {
  background-color: #ff9f61 !important; }
table .espacessonores:hover, table .espacessonores:hover a {
  background-color: #46637f !important; }
table .hacksxb:hover, table .hacksxb:hover a {
  background-color: #5ec366 !important; }
table .fablab:hover, table .fablab:hover a {
  background-color: #b3a600 !important; }
table .webstarter:hover, table .webstarter:hover a {
  background-color: #e6a25c !important; }
table .challengevr:hover, table .challengevr:hover a {
  background-color: #e6a25c !important; }
table .soireediy:hover, table .soireediy:hover a {
  background-color: #e6a25c !important; }
table .ignite:hover, table .ignite:hover a {
  background-color: #9e72ac !important; }
table .postcard:hover, table .postcard:hover a {
  background-color: #09b9ff !important; }
table .rmll:hover, table .rmll:hover a {
  background-color: #d46f6b !important; }
table .blockchain:hover, table .blockchain:hover a {
  background-color: #d46f6b !important; }
table .barcamp:hover, table .barcamp:hover a {
  background-color: #ebbf5d !important; }

.social-share {
  height: 70px;
  line-height: 70px;
  text-align: center;
  font-size: 170%;
  background-color: #d5d5d5; }
  .social-share i.fa {
    color: #333; }

footer {
  min-height: 0;
  padding: 1em 0;
  text-align: center;
  background-color: #282828;
  color: white; }
  footer ul.row > li {
    text-align: left;
    padding: 0 2em;
    vertical-align: top; }
    footer ul.row > li > ul > li {
      margin-bottom: 0.2em; }
      footer ul.row > li > ul > li.title {
        margin-bottom: 0.6em;
        font-size: 120%;
        font-weight: bold; }
      footer ul.row > li > ul > li a {
        color: white; }

ul.sponsors {
  text-align: center; }
  ul.sponsors li {
    padding: 0;
    margin: 0 20px 20px 0; }
  ul.sponsors img {
    height: auto;
    max-height: 70px; }
    ul.sponsors img.smaller {
      max-height: 60px; }

p.date, p.venue {
  margin: 0; }
p.type {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 800; }

.sticky {
  background-color: red;
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: 600;
  position: absolute;
  top: 0;
  width: 100%; }

.small-caps {
  font-variant: small-caps;
  text-transform: uppercase; }

.co {
  color: #34b8d0; }

.margin0 {
  margin: 0 !important; }

.news-responsive {
  max-width: 100%; }

@media screen and (max-width: 767px) {
  body {
    padding-left: 0;
    padding-right: 0; }

  section {
    padding-left: 10px;
    padding-right: 10px; }

  ul.sponsors li {
    width: 100%; } }
@media screen and (max-width: 1400px) {
  header {
    background-size: 60vh auto; }
    header a.mainlink img {
      height: 19vh;
      margin-top: 2vh; } }
@media screen and (max-height: 790px) and (min-height: 600px) {
  nav {
    top: 0; }

  .nav-list a {
    font: 800 1em "Open sans"; } }
@media screen and (max-width: 1200px), (max-height: 600px) {
  body {
    background-size: auto 1000px; }

  header {
    height: 600px;
    background-size: 400px auto; }
    header .container {
      height: 600px; }
    header a.mainlink img {
      height: 130px;
      margin-top: 0; }

  .nav-tablet-left {
    float: left;
    width: 49.9%; }

  .nav-tablet-right {
    float: right;
    width: 49.9%; }

  nav {
    padding: 0;
    top: 0;
    position: relative; }
    nav .nav-list li {
      margin-top: 0;
      margin-bottom: 2px; }
    nav .nav-list a {
      display: block; }
      nav .nav-list a:hover {
        padding-right: 0; }
      nav .nav-list a.spacer {
        display: block; } }
@media screen and (max-width: 800px) {
  body {
    background-size: 100% auto; }

  header {
    height: 350px;
    background-size: 285px;
    background-position: center 175px !important; }
    header a.mainlink img {
      position: absolute;
      width: 230px;
      left: 50%;
      top: 231px;
      margin-left: -121px !important; }
    header nav .nav-list a.spacer {
      display: block; }

  .nav-tablet-left {
    display: inline;
    float: none; }

  .nav-tablet-right {
    display: inline;
    float: none; } }
@media screen and (max-width: 500px) {
  body {
    background-size: auto 400px; } }

/*# sourceMappingURL=main.css.map */
