---
layout: default
title: "BarCampAlsace 10 - Samedi 6 juillet 2013 - EdgeFest 2013 - Festival des communautés numériques et créatives à Strasbourg"
facebook_image: "http://www.edgefest.fr/img/barcampalsace1.jpg"
facebook_description: "Durant quatre jours, EdgeFest by Alsace Digitale proposera des rendez-vous variés et novateurs autour des thèmes de l’innovation, du numérique, de l’entrepreneuriat, de l’art et de la culture. Ce festival a pour ambition de démontrer le potentiel que le croisement de ces différentes disciplines peut générer, en termes de créativité et de développement économique."
---
{% include planning.html %}
{% include barcampalsace.html %}
