---
layout: default
title: "EdgeFest, le festival des communautés numériques et créatives à Strasbourg du 30 juin au 9 Juillet 2016"
share: "#EdgeFest, festival des communautés numériques et créatives à Strasbourg du 30 juin au 9 juillet"
facebook_image: "http://www.edgefest.fr/img/background2016.png"
facebook_description: "Le festival des communautés numériques et créatives à Strasbourg, est de retour pour sa cinquième édition cet été. Organisé par Alsace Digitale, ce festival invite startupers, inventeurs et curieux à échanger autour des dernières avancées technologiques dans une ambiance conviviale et estivale."
---
<!--{% include callforprojects.html %}-->
{% include intro.html %}
{% include planning.html %}
