<section class="apero" id="apero">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Apéro Entrepreneurs</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <p class="date">Date : Jeudi 6 juillet dès 19h</p>
        <p class="venue">Lieu : UGC</p>
        <p class="type">Entrée libre <span style="font-weight: normal;">(chacun paye ses consommations)</span></p>
        <p class="concept">
          “Networking is not collecting contacts! Networking is about planting relations”. L’Apéro entrepreneurs est une occasion en or de partager, échanger ses best practices et construire des relations de long terme avec des centaines d’acteurs du monde de l’entrepreneuriat alsacien. Autour d’un verre, dans une ambiance chaleureuse et décontractée, rencontrez ceux qui seront peut-être vos futurs collaborateurs.
        </p>
        <p class="concept">
          L'Apéro Entrepreneurs - Strasbourg organisé par l'association <a href="http://www.entrepreneurs.alsace/" target="_blank">Entrepreneurs Alsace</a> réunit tous les mois plusieurs centaines d'entrepreneurs et est devenu LE RDV mensuel incontournable des entrepreneurs en Alsace. Le RDV est donné chaque premier jeudi du mois !
        </p>
        <p class="concept">L'apéro de juillet entre logiquement dans la programmation du festival EdgeFest et est organisé en partenariat avec <a href="http://grandestnumerique.org/" target="_blank">Grand Est Numérique</a>.</p>
        <div class="row">
          <div class="col-md-6">
            <div class="thumbnail" style="margin-top: 25px; height: 150px;">
              <img src="/img/logos/orig/entrepreneursalsace.png" style="margin-top: 38px;" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="thumbnail" style="margin-top: 25px; height: 150px;">
              <img src="/img/gen.png" style="margin-top: 14px;" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="/img/apero-photo.jpg" />
        </div>
        <div class="thumbnail">
          <img src="/img/logos/orig/apero.png" style="width: 195px;" />
        </div>
      </div>
    </div>
  </div>
</section>
