<section class="shadok" id="shadok">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Apéro Entrepreneurs</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <p class="date">Date : Jeudi 6 juillet dès 19h</p>
        <p class="venue">Lieu : UGC</p>
        <p class="type">Entrée libre <span style="font-weight: normal;">(chacun paye ses consommations)</span></p>
        <p class="concept">
          “Networking is not collecting contacts! Networking is about planting relations”. L’Apéro entrepreneurs est une occasion en or de partager, échanger ses best practices et construire des relations de long terme avec des centaines d’acteurs du monde de l’entrepreneuriat alsacien. Autour d’un verre, dans une ambiance chaleureuse et décontractée, rencontrez ceux qui seront peut-être vos futurs collaborateurs.
        </p>
        <div class="thumbnail" style="margin-top: 25px;">
          <img src="/img/logos/orig/entrepreneursalsace.png" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="/img/logos/orig/apero.png" />
        </div>
      </div>
    </div>
  </div>
</section>
