<section class="demodebat" id="demodebat">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Avenir Numérique</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <p class="date">Date : Mardi 27 juin 2017 à 18h</p>
        <p class="venue">Lieu : Le Shadok</p>
        <p class="type">Événement gratuit sur inscription. <i>(Lancement de la billetterie prochainement !)</i></p>
        <p class="type"></p>
        <p class="concept">
          Lancement d'Avenir Numérique, la nouvelle communauté d'Alsace Digitale<br>
          Programme de la soirée à venir !
        </p>
        
      </div>
      <div class="col-md-4">
        <!--<img src="img/demodebat.jpg" alt="demo debat" class="thumbnail" style="max-width: 100%;" />-->
      </div>
    </div>
  </div>
</section>
