<section class="demodebat" id="demodebat">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Avenir Numérique</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <p class="date">Date : Mardi 27 juin 2017 à 18h</p>
        <p class="venue">Lieu : Le Shadok</p>
        <p class="type">Événement gratuit sur inscription. <a target="_blank" href="https://www.eventbrite.fr/e/billets-lancement-avenir-numerique-alsace-35302500730">Participez ici !</a></p>
        <p class="type"></p>
        <p class="concept">
          Venez assister au take-off d'Avenir Numérique Alsace !<br><br>
          Avenir Numérique c’est une communauté alsacienne qui a vocation à valoriser les compétences numériques de manière ludique auprès des jeunes, filles comme garçons. Notre pari ? Ce sont les petits bidouilleurs d'aujourd'hui qui seront les grands développeurs et créateurs de demain...<br><br>
          EdgeFest sera l'occasion de donner une impulsion à cette toute nouvelle communauté, ouverte à tous les adultes "relais". Au programme de cette soirée de lancement, échange de bonnes pratiques, témoignages et moment convivial.
        </p>
        
      </div>
      <div class="col-md-4">
        <img src="img/avenirnumerique.jpg" alt="demo debat" class="thumbnail" style="max-width: 100%;" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>Découvrez l'initiative Avenir Numérique Alsace en vidéo :</h3>
        <iframe class="thumbnail" width="560" height="315" src="https://www.youtube.com/embed/_fcCbcu0kk0" frameborder="0" allowfullscreen></iframe><br>
      </div>
    </div>
  </div>
</section>
