<section class="barcampalsace" id="barcampalsace">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h2>BarCamp Alsace X</h2>
      </div>
    </div>
    <div class="row">
      <div class="span6">
        <p class="date">Date : Samedi 6 juillet, de 10h à 18h</p>
        <p class="venue">Lieu : La Plage Digitale, 15 route du Rhin • F - 67100 Strasbourg</p>
        <p class="type">Événement gratuit sur pré-inscription. <a href="http://barcampalsace10.herokuapp.com" href="_blank">Pré-inscription ici !</a></p>
        <p class="type"></p>
        <p class="concept">
          Avec l’organisation de ce BarCamp Alsace, Alsace Digitale propose aux publics et aux futurs partenaires du projet Seegmuller de se croiser et d’échanger autour des passions, valeurs et de partager l’esprit d’initiative qui les réunit. Dans les méandres de ces discussions croisées peuvent se dévoiler les préfigurations de collaborations futures ou imminentes.
        </p>
        <p class="concept">
          Animations :
          <ul>
            <li>BarCamp : non-conférence ouverte qui prend la forme d'ateliers-événements participatifs où le contenu est fourni par les participants qui doivent tous, à un titre ou à un autre, apporter quelque chose au Barcamp. C'est le principe « pas de spectateur, tous participants ».</li>
          </ul>
        </p>
      </div>
      <div class="span6">
        <ul class="thumbnails">
          <li class="span2"><img src="img/barcampalsace1.jpg" /></li>
          <li class="span2"><img src="img/barcampalsace2.jpg" /></li>
          <li class="span2"><img src="img/barcampalsace3.jpg" /></li>
          <li class="span2"><img src="img/barcampalsace4.jpg" /></li>
          <li class="span2"><img src="img/barcampalsace5.jpg" /></li>
          <li class="span2"><img src="img/barcampalsace6.jpg" /></li>
        </ul>
      </div>
    </div>
  </div>
</section>
