<section class="eventbox barcamp" id="barcamp" data-title="{{ page.title }}" data-image="{{ page.facebook_image }}" data-description="{{ page.facebook_description }}">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Barcamp : Le numérique au féminin, et l'égalité dans tout ça ?</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <p class="date">Date : Mercredi 3 juillet à 17h</p>
        <p class="venue">Lieu : Shadok</p>
        <p class="type">Sur inscription. <i style="font-weight: normal;">(La billeterie arrive bientôt)</i></p>
        <p class="concept">Le barcamp est une non-conférence ou chacun peu proposer un sujet qu'il a envie d'aborder autour de la thématique. Plus d'infos à venir...</p>
        <div class="row">
          <!--<div class="col-md-6">
            <div class="thumbnail" style="margin-top: 25px; min-height: 150px;">
              <img src="/img/logos/orig/entrepreneursalsace.png" style="margin-top: 38px;" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="thumbnail" style="margin-top: 25px; min-height: 150px;">
              <img src="/img/gen.png" style="margin-top: 14px;" />
            </div>
          </div>-->
        </div>
      </div>
      <div class="col-md-4">
        <!--<div class="thumbnail">
          <img src="/img/apero-photo.jpg" />
        </div>
        <div class="thumbnail">
          <img src="/img/logos/orig/apero.png" style="width: 195px;" />
        </div>-->
      </div>
    </div>
  </div>
</section>
