<section class="eventbox barcamp" id="barcamp" data-title="{{ page.title }}" data-image="{{ page.facebook_image }}" data-description="{{ page.facebook_description }}">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Barcamp : Le numérique au féminin, et l'égalité dans tout ça ?</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <p class="date">Date : Mardi 3 juillet à 17h</p>
        <p class="venue">Lieu : Shadok</p>
        <p class="type">Évènement gratuit sur inscription. <a target="_blank" href="https://www.eventbrite.fr/e/billets-barcamp-le-numerique-au-feminin-47039068119">Participez ici !</a></p>
        <p class="concept">Les femmes sont de plus en plus présentes dans le numérique. Leurs carrières leurs permettent de s’épanouir autour de projets innovants et audacieux   Toutefois, leur représentation reste minoritaire (estimée à moins de 25%).<br><br>Quels leviers pourraient être mis en oeuvre pour augmenter la mixité dans ces filières ?<br><br>Comment faire en sorte que les femmes contribuent pleinement à cette révolution ?<br><br>Autant de réponses que nous chercherons ensemble lors de ce Barcamp.<br><br>Un Barcamp est une « non-conférence » organisée sous forme d’ateliers dont les sujets sont proposés par les participant(e)s présent(e)s.<br><br>L’idée est de fédérer les forces autour d’actions communes évoquées lors de cet évènement</p>
        <div class="row">
          <div class="col-md-12">
            <div class="thumbnail" style="margin-top: 25px;/* min-height: 150px; */">
              <img src="/img/avenirnumeriquealsace.jpg" style="/* margin-top: 38px; */">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="/img/barcamp-feminin.jpg" />
        </div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/yhaIA6LpZDs" frameborder="0" allowfullscreen class="thumbnail"></iframe>
        <!--<div class="thumbnail">
          <img src="/img/logos/orig/apero.png" style="width: 195px;" />
        </div>-->
      </div>
    </div>
  </div>
</section>
