<section class="thin">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h2 id="planning">Appel à projets</h2>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <p>
          <strong>EdgeFest est votre festival ! Venez présenter votre projet numérique lors d'un des temps forts !</strong>
        </p>
        <ul>
          <li>Pour présenter un projet numérique (art, culture, logiciel, électronique, etc) durant le Edge Day : envoyer un mail à <a href="mailto:edgeday@alsacedigitale.org">edgeday@alsacedigitale.org</a> </li>
          <li>Pour proposer un sujet de table-ronde, un intervenant ou un atelier durant le Edge Day : envoyer un mail à <a href="mailto:edgeday@alsacedigitale.org">edgeday@alsacedigitale.org</a> </li>
          <li>Pour présenter votre projet de startup durant la Demo Night : envoyer un mail à <a href="mailto:demonight@alsacedigitale.org">demonight@alsacedigitale.org</a> en précisant le nom de la personne à contacter si nécessaire ainsi que son email, une description indiquant votre état d'avancement et un lien vers une démo ou site projet final (si le projet est public)</li>
          <li>Pour toutes questions ou demandes : <a href="mailto:edgefest@alsacedigitale.org">edgefest@alsacedigitale.org</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
