<section class="eventbox challengevr" id="challengevr" data-title="{{ page.title }}" data-image="{{ page.facebook_image }}" data-description="{{ page.facebook_description }}">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Challenge VR</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <p class="date">Date Challenge : Du lundi 2 Juillet à 10h au Mercredi 4 Juillet à 10</p>
        <p class="date">Date Restitution et Remise des prix :  Mercredi 4 juillet à 12h</p>
        <p class="venue">Lieu : Shadok</p>
        <p class="type">Évènement limité en places et soumis à inscription : <a target="_blank" href="https://institut.ina.fr/challenge-vr-region ">Participez ici !</a></p>
        <p class="type"></p>
        <div class="thumbnail" style="margin-top: 40px; max-width: 600px;" >
          <img src="img/challengevr.jpg" style="max-width: 100%;" />
        </div>
        <p class="concept">
          <strong>La réalité virtuelle, c’est quoi ?</strong><br><br>
          La réalité virtuelle ou VR, est une technologie permettant à l’homme d’effectuer une immersion dans un monde artificiel créé numériquement. Ce dernier peut être le résultat d’une reproduction du monde réel ou au contraire, d’un univers imaginaire. L’idée est donc de pouvoir vivre en temps réel ce qu’est la virtualité elle-même.<br><br>
          <strong>Quelle est l’utilité de la réalité virtuelle ?</strong><br><br>
          Sur le plan professionnel, l’intérêt de la réalité virtuelle est d’apporter des méthodes de travail et de création plus efficaces pour les architectes par exemple, qui pourront proposer à leurs clients de percevoir les relations entre les différentes pièces, de visualiser un bâtiment et ses dimensions avec davantage de précision. <br><br>
          Au niveau du divertissement, avec la VR, jouer à un jeu prend une toute autre dimension car le joueur est le personnage principal du jeu. Il n’est plus question de rester en dehors du jeu et de choisir son personnage vu que l’on joue son propre rôle.<br><br>
          <strong>Le concept du Challenge VR</strong><br><br>
          Depuis 1975, l’Institut national de l’audiovisuel (Ina) déploie son expertise au service du patrimoine audiovisuel et des professionnels de l'audiovisuel, en France comme à l'étranger.
          Du 2 au 4 juillet 2018, à l’occasion du Challenge VR, Ina met des vidéos inspirantes à votre disposition afin que vous puissiez créer une vidéo à 360° pour un « Voyage dans le temps », le tout en 48h.<br><br>
          Pas besoin d’être un professionnel de la réalité virtuelle, vous serez accompagné de coachs spécialistes de la VR et de la création 360°. La seule condition pour participer à cet événement est d’être motivé, créatif et de vouloir partager avec les autres participants !<br>
          Vous avez la possibilité d’apporter votre propre matériel ou d’utiliser celui qui sera à votre disposition.
          <br><br>
          Un jury sera présent pour décerner un prix en numéraire ainsi qu'une journée de coaching à la VR avec les experts de l'Ina d'une valeur de 2000€.
          <br><br>
          Pour découvrir les créations de chacun, elles seront présentées à Strasbourg, au Shadok lors du Festival EdgeFest, au Forum Alentours, ainsi qu'au Festival Européen du Film Fantastique de Strasbourg.
          <br><br>
          Le nombre de place est limité à 15 participants, répartis en 3 groupes.<br>
          Les inscriptions seront clôturées le 8 juin.<br>
          L'annonce des candidats sélectionnés aura lieu le 15 juin.<br><br>
          Pour s’inscrire c’est par ici : <a href="https://institut.ina.fr/challenge-vr-region" target="_blank">https://institut.ina.fr/challenge-vr-region</a> 
        </p>
      </div>
    </div>
  </div>
</section>
