<section class="creativcafe" id="creativcafe">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Créativ'café</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7" style="margin-bottom: 35px;">
        <p class="date">Date : Lundi 4 juillet de 18h à 20h</p>
        <p class="venue">Lieux : UGC</p>
        <p class="type">Événement gratuit, entrée libre.</p>
        <p class="concept">
          Les Créativ’cafés traitent de manière conviviale des sujets liés à la créativité et l’innovation. Ils sont autant de lieux de rencontres entre professionnels passionnés d’innovation, de tous secteurs et tous horizons, qu’ils soient directeurs, managers, startupers, chercheurs…
        </p>
        <p class="concept">
          A chaque Créativ’café est proposée une nouvelle thématique, pour découvrir ou s’informer sur des applications et des expérimentations mises en oeuvre de la créativité et de l’innovation pour les entreprises de tous secteurs d’activités. L’approche est double : la parole est donnée à un professionnel ou dirigeant d’entreprise qui témoigne de son expérience puis à un expert universitaire qui apporte en contrepoint sa vision du sujet.
        </p>
        <p class="concept">
          <strong>Les Créativ’café sont avant tout des événements interactifs où les échanges sont libres, enrichissants et passionnés !</strong>
        </p>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-xs-12">
            <div>
               <img style="max-width: 100%" src="img/creativcafe.png" alt="creativ'café" />
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
