<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <tbody>
      <tr>
        <td>9h</td>
        <td colspan="2"></td>
      </tr>
      <tr>
        <td>10h</td>
        <td colspan="2"></td>
      </tr>
      <tr>
        <td>11h</td>
        <td colspan="2"></td>
      </tr>
      <tr>
        <td>12h</td>
        <td colspan="2"></td>
      </tr>
      <tr>
        <td>13h</td>
        <td colspan="2"></td>
      </tr>
      <tr>
        <td>14h</td>        
        <td rowspan="6" class="withcontent summercamp">
          <a href="/summercamp.html">
              Atelier Play2Code Transformers
          </a>
          <p class="subtitle">14h00 à 20h</p>
          <p class="subtitle">UGC</p>
        </td>
        </td>
      </tr>
      <tr>
        <td>15h</td>
        <td colspan="1"></td>
      </tr>
      <tr>
        <td>16h</td>
        <td colspan="1"></td>
      </tr>
      <tr>
        <td>17h</td>
        <td colspan="1"></td>
      </tr>
      <tr>
        <td>18h</td>
        <td colspan="1"></td>
      </tr>
      <tr>
        <td>19h</td>
        <td rowspan="3" class="withcontent" style="background: #4e4e4e;">
          <a target="_blank" href="https://www.meetup.com/ElsassJUG/events/240189969/" style="color: #fff;">
              Meetup ElsassJug<br>Tests de charge avec Gatling
          </a>
          <p class="subtitle">La Plage Rivétoile</p>
        </td>
      </tr>
      <tr>
        <td>20h</td>
        <td colspan="1"></td>
      </tr>
      <tr>
        <td>21h</td>
        <td colspan="1"></td>
      </tr>
      <tr>
        <td>22h</td>
        <td colspan="2"></td>
      </tr>
      <tr>
        <td>23h</td>
        <td colspan="2"></td>
      </tr>
    </tbody>
  </table>
</div>
