<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <tbody>
      <tr>
        <td>9h</td>
        <td colspan="2"></td>
      </tr>
      <tr>
        <td>10h</td>
        <td rowspan="7" colspan="1" class="withcontent summercamp">
          <a href="/summercamp.html">
              Atelier Play2Code<br>Coding Club pour Lycéens
          </a>
          <p class="subtitle">Le Shadok</p>
        </td>
        <td colspan="1"></td>
      </tr>
      <tr>
        <td>11h</td>
        <td colspan="1"></td>
      </tr>
      <tr>
        <td>12h</td>
        <td colspan="1"></td>
      </tr>
      <tr>
        <td>13h</td>
        <td colspan="1"></td>
      </tr>
      <tr>
        <td>14h</td>
        <td colspan="1"></td>
      </tr>
      <tr>
        <td>15h</td>
        <td rowspan="2" colspan="1" class="withcontent demodebat">
          <a href="https://www.eventbrite.fr/e/billets-atelier-google-pour-les-associations-35564715020" target="_blank">
              Atelier Google pour les associations
          </a>
          <p class="subtitle">La Plage Rivétoile</p>
        </td>
      </tr>
      <tr>
        <td>16h</td>
      </tr>
      <tr>
        <td>17h</td>
        <td colspan="2"></td>
      </tr>
      <tr>
        <td>18h</td>
        <td colspan="2"></td>
      </tr>
      <tr>
        <td>19h</td>
        <td rowspan="3" colspan="2" class="withcontent startupstories">
          <a href="/startupstories.html">
              Startup Stories
          </a>
          <p class="subtitle">UGC</p>
        </td>
      </tr>
      <tr>
        <td>20h</td>
      </tr>
      <tr>
        <td>21h</td>
      </tr>
      <tr>
        <td>22h</td>
        <td colspan="2"></td>
      </tr>
      <tr>
        <td>23h</td>
        <td colspan="2"></td>
      </tr>
    </tbody>
  </table>
</div>
