<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <tbody>
      <tr>
        <td>9h</td>
        <td colspan="3"></td>
      </tr>
      <tr>
        <td>10h</td>
        <td colspan="3"></td>
      </tr>
      <tr>
        <td>11h</td>
        <td colspan="3"></td>
      </tr>
      <tr>
        <td>12h</td>
        <td colspan="3"></td>
      </tr>
      <tr>
        <td>13h</td>
        <td colspan="3"></td>
      </tr>
      <tr>
        <td>14h</td>
        <td rowspan="5" class="withcontent espacessonores">
          <a href="/espacessonores.html">
            Exposition Espaces Sonores
          </a>
          <p class="subtitle">Shadok</p>
        </td>
        <td rowspan="5" class="withcontent edgeday">
          <a href="/edgeday.html">
            Demo Day
          </a>
          <p class="subtitle">Shadok</p>
        </td>
        <td rowspan="3" class="withcontent edgeday">
          <a href="/edgeday.html">
            Maker Day
          </a>
          <p class="subtitle">UGC</p>
        </td>
      </tr>
      <tr>
        <td>15h</td>
      </tr>
      <tr>
        <td>16h</td>
      </tr>
      <tr>
        <td>17h</td>
        <td colspan="1"></td
      </tr>
      <tr>
        <td>18h</td>
        <td colspan="1"></td
      </tr>
      <tr>
        <td>19h</td>
        <td colspan="3"></td>
      </tr>
      <tr>
        <td>20h</td>
        <td rowspan="3" colspan="3" class="withcontent">
          <a href="/soireeshacom.html">
            Soirée Sha'com/Safire
          </a>
          <p class="subtitle">Sha'com</p>
        </td>
      </tr>
      <tr>
        <td>21h</td>
      </tr>
      <tr>
        <td>22h</td>
      </tr>
      <tr>
        <td>23h</td>
        <td colspan="3"></td>
      </tr>
    </tbody>
  </table>
</div>
