<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <tbody>
      <tr>
        <td>9h</td>
        <td></td>
      </tr>
      <tr>
        <td>10h</td>
        <td></td>
      </tr>
      <tr>
        <td>11h</td>
        <td rowspan="7" class="withcontent barcampalsace">
          <a href="/barcampalsace.html#barcampalsace">BarCamp Alsace 10 »</a>
        </td>
      </tr>
      <tr>
        <td>12h</td>
      </tr>
      <tr>
        <td>13h</td>
      </tr>
      <tr>
        <td>14h</td>
      </tr>
      <tr>
        <td>15h</td>
      </tr>
      <tr>
        <td>16h</td>
      </tr>
      <tr>
        <td>17h</td>
      </tr>
      <tr>
        <td>18h</td>
        <td></td>
      </tr>
      <tr>
        <td>19h</td>
        <td></td>
      </tr>
      <tr>
        <td>20h</td>
        <td></td>
      </tr>
      <tr>
        <td>21h</td>
        <td></td>
      </tr>
      <tr>
        <td>22h</td>
        <td></td>
      </tr>
      <tr>
        <td>23h</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
