<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <tbody>
      <tr>
        <td>9h</td>
        <td></td>
      </tr>
      <tr>
        <td>10h</td>
        <td></td>
      </tr>
      <tr>
        <td>11h</td>
        <td></td>
      </tr>
      <tr>
        <td>12h</td>
      </tr>
      <tr>
        <td>13h</td>
      </tr>
      <tr>
        <td>14h</td>
        <td rowspan="3" class="withcontent MakerDay">
          <a href="http://www.edgefest.fr/edgeday.html">
            Maker Day
            <br/>
            Extérieur/UGC
          </a>
        </td>
        <td rowspan="5" class="withcontent ExpositionMusiqueEtNumerique">
          <a href="http://www.edgefest.fr/espacessonores.html">
            Exposition Musique et Numérique
            <br/>
            Shadok
          </a>
        </td>
        <td rowspan="5" class="withcontent DemoDay">
          <a href="http://www.edgefest.fr/edgeday.html">
            Demo Day
            <br/>
            Shadok
          </a>
        </td>
      </tr>
      <tr>
        <td>15h</td>
        <td rowspan="1" class="withcontent RenduAtelierMusiqueEtNumerique">
          <a href="http://www.edgefest.fr/espacessonores.html">
            Rendu Atelier Musique et Numérique
            <br/>
            Shadok
          </a>
        </td>
      </tr>
      <tr>
        <td>16h</td>
      </tr>
      <tr>
        <td>17h</td>
      </tr>
      <tr>
        <td>18h</td>
        <td></td>
      </tr>
      <tr>
        <td>19h</td>
        <td></td>
      </tr>
      <tr>
        <td>20h</td>
        <td rowspan="3" class="withcontent SoireeShacomSafire">
          <a href="http://www.edgefest.fr/espacessonores.html">
            Soirée Sha'com/Safire
            <br/>
            Sha'com
          </a>
        </td>
      </tr>
      <tr>
        <td>21h</td>
        <td></td>
      </tr>
      <tr>
        <td>22h</td>
        <td></td>
      </tr>
      <tr>
        <td>23h</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
