<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <tbody>
      <tr>
        <td>9h</td>
        <td></td>
      </tr>
      <tr>
        <td>10h</td>
        <td rowspan="8" class="withcontent KinoJam">
              <a href="http://www.edgefest.fr/kinojam.html">
                  KinoJam
                  <br/>
                  La Plage Rivétoile
              </a>
        </td>
      </tr>
      <tr>
        <td>11h</td>
      </tr>
      <tr>
        <td>12h</td>
      </tr>
      <tr>
        <td>13h</td>
      </tr>
      <tr>
        <td>14h</td>
        <td rowspan="5" class="withcontent ExpositionMusiqueEtNumerique">
              <a href="http://www.edgefest.fr">
                  Exposition Musique et Numérique
                  <br/>
                  Shadok
              </a>
        </td>
      </tr>
      <tr>
        <td>15h</td>
      </tr>
      <tr>
        <td>16h</td>
      </tr>
      <tr>
        <td>17h</td>
      </tr>
      <tr>
        <td>18h</td>
      </tr>
      <tr>
        <td>19h</td>
      </tr>
      <tr>
        <td>20h</td>
      </tr>
      <tr>
        <td>21h</td>
      </tr>
      <tr>
        <td>22h</td>
      </tr>
      <tr>
        <td>23h</td>
      </tr>
    </tbody>
  </table>
</div>
