<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <tbody>
      <tr>
        <td>9h</td>
        <td colspan="1"></td>
      </tr>
      <tr>
        <td>10h</td>
        <td colspan="1"></td>
      </tr>
      <tr>
        <td>11h</td>
        <td colspan="1"></td>
      </tr>
      <tr>
        <td>12h</td>
        <td colspan="1"></td>
      </tr>
      <tr>
        <td>13h</td>
        <td colspan="1"></td>
      </tr>
      <tr>
        <td>14h</td>
        <td colspan="1"></td>
      </tr>
      <tr>
        <td>15h</td>
        <td rowspan="2" class="withcontent fablab">
          <a href="/fablab.html#bettlewood">Atelier FabLab - Workshop 3DBettleWood</a>
          <p class="subtitle">15h à 16h30</p>
          <p class="subtitle" style="color: #fff;">FabLab (Shadok)</p>
        </td>
      </tr>
      <tr>
        <td>16h</td>
      </tr>
      <tr>
        <td>17h</td>
        <td colspan="1"></td>
      </tr>
      <tr>
        <td>18h</td>
        <td colspan="1"></td>
      </tr>
      <tr>
        <td>19h</td>
        <td colspan="1"></td>
      </tr>
      <tr>
        <td>20h</td>
        <td colspan="1"></td>
      </tr>
      <tr>
        <td>21h</td>
        <td colspan="1"></td>
      </tr>
      <tr>
        <td>22h</td>
        <td colspan="1"></td>
      </tr>
    </tbody>
  </table>
</div>
