<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <tbody>
      <tr>
        <td>9h</td>
        <td colspan="4"></td>
      </tr>
      <tr>
        <td>10h</td>
        <td rowspan="7" colspan="1" class="withcontent summercamp">
          <a href="/summercamp.html">
              Summer Camp<br>Code4Teens pour Lycéens
          </a>
          <p class="subtitle">Le Shadok</p>
        </td>
        <td colspan="3"></td>
      </tr>
      <tr>
        <td>11h</td>
        <td colspan="3"></td>
      </tr>
      <tr>
        <td>12h</td>
        <td colspan="3"></td>
      </tr>
      <tr>
        <td>13h</td>
        <td colspan="3"></td>
      </tr>
      <tr>
        <td>14h</td>
        <td rowspan="4" class="withcontent shadok">
          <a href="/materiauteque.html">
              Matériautèque
          </a>
          <p class="subtitle">Le Shadok</p>
        </td>
        <td rowspan="3" class="withcontent summercamp">
          <a href="/summercamp.html#avlab">
              Atelier AV.lab
          </a>
          <p class="subtitle">Le Shadok</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>15h</td>
        <td rowspan="2" class="withcontent digitalforum">
          <a href="/digitalforum.html">
              Digital Forum Society Orange - Famille connectée
          </a>
          <p class="subtitle">Le Shadok</p>
        </td>
      </tr>
      <tr>
        <td>16h</td>
      </tr>
      <tr>
        <td>17h</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>18h</td>
        <td rowspan="1" colspan="4" class="withcontent shadok">
          <a href="/materiauteque.html">
              Visite groupée de la matériautèque avant Startup Stories
          </a>
          <p class="subtitle">Le Shadok</p>
        </td>
      </tr>
      <tr>
        <td>19h</td>
        <td rowspan="3" colspan="4" class="withcontent startupstories">
          <a href="/startupstories.html">
              Startup Stories
          </a>
          <p class="subtitle">UGC</p>
        </td>
      </tr>
      <tr>
        <td>20h</td>
      </tr>
      <tr>
        <td>21h</td>
      </tr>
      <tr>
        <td>22h</td>
        <td colspan="4"></td>
      </tr>
      <tr>
        <td>23h</td>
        <td colspan="4"></td>
      </tr>
    </tbody>
  </table>
</div>
