<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <tbody>
      <tr>
        <td>9h</td>
        <td colspan="2"></td>
      </tr>
      <tr>
        <td>10h</td>
        <td rowspan="7" colspan="1" class="withcontent summercamp">
          <a href="/summercamp.html">
              Summer Camp<br>Code4Kids pour Collégiens
          </a>
          <p class="subtitle">Le Shadok</p>
        </td>
        <td colspan="1"></td>
      </tr>
      <tr>
        <td>11h</td>
        <td colspan="1"></td>
      </tr>
      <tr>
        <td>12h</td>
        <td colspan="1"></td>
      </tr>
      <tr>
        <td>13h</td>
        <td colspan="1"></td>
      </tr>
      <tr>
        <td>14h</td>
        <td rowspan="5" class="withcontent shadok">
          <a href="/materiauteque.html">
              Matériautèque
          </a>
          <p class="subtitle">Le Shadok</p>
        </td>
      </tr>
      <tr>
        <td>15h</td>
      </tr>
      <tr>
        <td>16h</td>
      </tr>
      <tr>
        <td>17h</td>
        <td rowspan="3" class="withcontent demodebat">
          <a href="/demodebat.html">
              Démo-Débat              
          </a>
          <p class="subtitle" style="color: #fefefe">17h30 à 19h30</p>
          <p class="subtitle" style="color: #fefefe">Médiathèque</p>
        </td>
      </tr>
      <tr>
        <td>18h</td>
      </tr>
      <tr>
        <td>19h</td>
        <td rowspan="3" colspan="1" class="withcontent apero">
          <a href="https://www.facebook.com/events/1740303376208136/">
              Apéro Entrepreneurs
          </a>
          <p class="subtitle" style="color: #fefefe"">UGC</p>
        </td>
      </tr>
      <tr>
        <td>20h</td>
        <td colspan="1"></td>
      </tr>
      <tr>
        <td>21h</td>
        <td colspan="1"></td>
      </tr>
      <tr>
        <td>22h</td>
        <td colspan="2"></td>
      </tr>
    </tbody>
  </table>
</div>
