<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <tbody>
      <tr>
        <td>9h</td>
        <td colspan="1"></td>
      </tr>
      <tr>
        <td>10h</td>
        <td colspan="1"></td>        
      </tr>
      <tr>
        <td>11h</td>
        <td colspan="1"></td>
      </tr>
      <tr>
        <td>12h</td>
        <td colspan="1"></td>
      </tr>
      <tr>
        <td>13h</td>
        <td colspan="1"></td>
      </tr>
      <tr>
        <td>14h</td>
        <td rowspan="3" colspan="1" class="withcontent summercamp">
          <a href="/summercamp.html">
              Atelier Play2Code<br>Code4Kids Niveau Avancé pour Collégiens
          </a>
          <p class="subtitle">Le Shadok</p>
        </td>
      </tr>
      <tr>
        <td>15h</td>
      </tr>
      <tr>
        <td>16h</td>
      </tr>
      <tr>
        <td>17h</td>
        <td colspan="1"></td>
      </tr>
      <tr>
        <td>18h</td>
        <td rowspan="3" colspan="4" class="withcontent digitalforum">
          <a href="/digitalforum.html">
              Digital Society Forum<br>Atelier adultes
          </a>
          <p class="subtitle" style="color: #fff;">18h30 à 21h</p>
          <p class="subtitle" style="color: #fff;">Le Shadok</p>
        </td>
      </tr>
      <tr>
        <td>19h</td>
      </tr>
      <tr>
        <td>20h</td>
      </tr>
      <tr>
        <td>21h</td>
        <td colspan="1"></td>
      </tr>
      <tr>
        <td>22h</td>
        <td colspan="1"></td>
      </tr>
      <tr>
        <td>23h</td>
        <td colspan="1"></td>
      </tr>
    </tbody>
  </table>
</div>
