<section class="demonight" id="demonight">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Démo Night #9</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8">
        <p class="date">Date : Jeudi 30 juin à 19h</p>
        <p class="venue">Lieu : UGC</p>
        <p class="type">Évènement gratuit sur pré-inscription (billeterie bientôt disponible). <!--<a href="" href="_blank">Pré-inscription ici !</a>--> </p>
        <p class="type"></p>
        <p class="concept">
          C'est une nuit consacrée aux startups alsaciennes. Ils seront dix à être présents pour présenter leurs projets pendant les cinq minutes dont chacun disposera. Une vraie performance, un vrai show ! Pas de blabla, que de la démo !
        </p>
        <p class="concept">
          Évènement organisé par <a href="https://www.facebook.com/StrasbourgStartups/" target="_blank">Strasbourg Startups</a>, une initiative lancée par Alsace Digitale pour fédérer, développer et animer la scène startup strasbourgeoise.

        </p>
        <p class="concept">
          La soirée se terminera par un buffet convivial.
        </p>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="img/demonight.jpg" />
        </div>
      </div>
    </div>
  </div>
</section>
