<section class="demodebat" id="demodebat">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Démo Débat</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8">
        <p class="date">Date : Jeudi 7 juillet de 17h30 à 19h30</p>
        <p class="venue">Lieu : Médiathèque André Malraux</p>
        <p class="type">Évènement gratuit, entrée libre. </p>
        <p class="type"></p>
        <p class="concept">
         Peut-on imaginer à quoi ressemblera internet dans une vingtaine d’années ? La surveillance et la transformation en marchandises des données personnelles sur internet sont-elles des menaces pour nos libertés démocratiques ? Comment promouvoir et construire un internet contrôlé par chacun ?
        </p>
        <p class="concept">
          Pour aborder ces questions centrales, à l’heure où la communication numérique est omniprésente dans nos vies à la <a href="http://www.mediatheques.strasbourg.eu/medias/medias.aspx?INSTANCE=EXPLOITATION&PORTAL_ID=WBCT_WBCTDOC_28.xml&SYNCMENU=INF_MED_MALRAUX" target="_blank">médiathèque Malraux</a>
        </p>
      </div>
      <div class="col-xs-4">        
      </div>
    </div>
  </div>
</section>
