<section class="demodebat" id="demodebat">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Démo Débat</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8">
        <p class="date">Date : Jeudi 7 juillet de 17h30 à 19h30</p>
        <p class="venue">Lieu : Médiathèque André Malraux</p>
        <p class="type">Évènement gratuit, entrée libre. </p>
        <p class="type"></p>
        <p class="concept">
         Partir à la découverte de territoires ou les inventer; construire des modes d'exploration, imaginer de nouveaux usages de lieux et espaces inexploités. Dans le cadre d'Edgefest, venez vous asseoir le temps de ce démo-débat sur les rives de mondes à découvrir autour de pionniers des possibles du monde digital.
        </p>
        <p class="concept">
          Trois intervenants sont attendus :
          <ul>
            <li><strong>Claude Guittard</strong>, Maître de conférence, BETA CNRS Université de Strasbourg. <a href="https://scholar.google.fr/citations?view_op=search_authors&hl=fr&mauthors=label:de_l_innovation" target="_blank">Gestion de la connaissance, de l'innovation, Systèmes d'information</a></li>
            <li><strong>Anne-Christine Bronner</strong>, cartographe, Laboratoire image, ville, environnement Unistra Strasbourg / organisatrice du <a href="http://concours-geovisualisation.imag.fr/" target="_blank">concours de geovisualisation</a></li>
            <li><strong>Gregoire Zabe</strong>, <a href="http://htp40.org/" target="_blank">association Horizome</a></li>
          </ul>
        </p>
      </div>
      <div class="col-xs-4">        
      </div>
    </div>
  </div>
</section>
