<section class="eventbox demonight" id="demonight" data-title="{{ page.title }}" data-image="{{ page.facebook_image }}" data-description="{{ page.facebook_description }}">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Démo Night #14</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <p class="date">Date : Jeudi 28 juin à 18h30</p>
        <p class="venue">Lieu : INET (1 Rue Edmond Michelet)</p>
        <p class="type">Évènement gratuit sur inscription.<a target="_blank" href="https://www.eventbrite.fr/e/billets-demo-night-14-46322519904">Participez ici !</a></p>
        <p class="type"></p>
        <p class="concept">
          Bienvenue dans l’univers trépidant des startups alsaciennes ! Durant cette soirée inoubliable, plusieurs entrepreneurs vont venir faire la démo de leur produit en 5 minutes maximum. Pas une seconde à perdre, ils doivent tout faire pour nous en mettre plein la vue ! Un apéro convivial prolongera la soirée. La Démo Night est organisée par Strasbourg Startups, une communauté d’Alsace Digitale créée pour fédérer, développer et animer la scène startup strasbourgeoise.
        </p>
        <p class="concept">En deuxième partie de soirée, nous nous retrouverons pour un temps d'échange à l'<a href="/apero.html#apero" target="_blank">apéro co-organisé avec Grand Est Numérique</a> sur la terasse du bar de l'UGC (juste derrière l'INET).</p>
        <p class="concept">
          La Démo Night est un événement <a href="http://www.strasbourg-startups.com" target="_blank">Strasbourg Startups</a>, une initiative lancée par Alsace Digitale pour fédérer, développer et animer la scène startup strasbourgeoise.
        </p>
        <!--<p class="concept">
          La soirée se finira par un buffet convivial sponsorisé par <strong>Caisse d'épargne</strong>
        </p><br>

        <p class="concept">
          <br><strong>En partenariat avec</strong> <br>
          <img class="thumbnail" style="height: 60px;display: inline;" src="img/logos/thumb/caissedepargne-carre.jpg"/>&nbsp;&nbsp;
          <img class="thumbnail" style="height: 60px;display: inline;"  src="img/logos/orig/cnfpt.jpg"/>&nbsp;&nbsp;
          <img class="thumbnail" style="height: 60px;display: inline;"  src="img/logos/orig/etenapepite.png"/>
        </p>-->
        <!--<h3>Captation vidéo de l'événement :</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/MqP72y3UlCU" frameborder="0" allowfullscreen></iframe><br>-->
        <a href="http://www.strasbourg-startups.com/" target="_blank"><img class="thumbnail" style="height: 60px;display: inline;"  src="img/strasbourgstartups.png"/></a>&nbsp;&nbsp;
        <img class="thumbnail" style="height: 60px;display: inline;"  src="img/logos/orig/inet.png"/>&nbsp;&nbsp;
        <img class="thumbnail" style="height: 60px;display: inline;"  src="img/logos/orig/caissedepargne-carre.jpg"/>&nbsp;&nbsp;
      </div>
      <div class="col-md-4">      
        <!--<iframe class="thumbnail" width="560" height="315" src="https://www.youtube.com/embed/-zF3ufmxNgk" frameborder="0" allowfullscreen></iframe><br>-->
        <div class="thumbnail">
          <img src="img/demonight.jpg" />
        </div>
      </div>
    </div>
  </div>
</section>
