<section class="demonight" id="demonight">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Démo Night #9</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <p class="date">Date : Jeudi 30 juin à 19h</p>
        <p class="venue">Lieu : UGC</p>
        <p class="type">Évènement gratuit sur inscription. <a href="https://www.eventbrite.fr/e/billets-demonight-9-19234879041" href="_blank">Participez ici !</a></p>
        <p class="type"></p>
        <p class="concept">
          Soirée consacrée aux startups alsaciennes. Ils seront 7 à être présents pour présenter leurs projets pendant les cinq minutes dont chacun disposera. Une vraie performance, un vrai show !
        </p>
        <p class="concept">
          Évènement organisé par <a href="http://www.strasbourg-startups.com" target="_blank">Strasbourg Startups</a>, une initiative lancée par Alsace Digitale pour fédérer, développer et animer la scène startup strasbourgeoise.
        </p>
        <p class="concept">
          La soirée se terminera par un buffet convivial.
        </p><br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/PatADgmL0-g" frameborder="0" allowfullscreen></iframe><br>
        <div class="thumbnail" style="margin-top: 25px;">
          <a href="http://www.strasbourg-startups.com/" target="_blank"><img src="/img/strasbourgstartups.png" alt="logo strasbourg startups" /></a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="img/demonight.jpg" />
        </div>
      </div>
    </div>
  </div>
</section>
