<section class="eventbox digitalforum" id="digitalforum" data-title="{{ page.title }}" data-image="{{ page.facebook_image }}" data-description="{{ page.facebook_description }}">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Digital Society Forum Orange</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <p class="concept" style="font-weight: bold;">
          Avec son foisonnement d’informations, ses espaces de débats participatifs et la possibilité de créer des communautés, internet semble démultiplier les opportunités d’engagement militant et plus largement d’implication des citoyens. Mais quelle est la portée réelle de ces investissements citoyens via le numérique ?
        </p>
        <p class="concept">
          Vous avez envie de réfléchir et de partager sur la façon dont le numérique peut potentiellement transformer le concept même de citoyenneté, qui change de plus en plus pour se mettre à l’heure du numérique, via de nouveaux outils dédiés à notre vie civique ? Bienvenue au Digital Society Forum, où vous allez pouvoir brainstormer sur les usages de demain ! Venez discuter avec nous de l’influence que peuvent avoir ces nouveaux outils, de leur avenir possible. Cherchons ensemble à comprendre leur utilité, ou encore les motivations qui nous poussent tous à les utiliser.
        </p>
        <!--<p class="concept">
          L'atelier sera introduit par une présentation d'un sociologue chez Orange Labs et se déroulera en présence de deux grands témoins. 
        </p>-->
        <p class="concept">
          Deux ateliers sont proposés un premier pour un public adulte et, parce que la créativité n’a pas d’âge, un deuxième pour un plus large public à partir de 10 ans mais ouvert à tous.
        </p>

        <h3 style="font-size: 15px;margin-top:30px;">Atelier jeunes et adultes</h3>
        <p class="date">Date : Mercredi 4 juillet de 15h à 17h</p>
        <p class="venue">Lieu : La Manufakture (7a Rue de la Krutenau)</p>
        <p class="type">Événement gratuit sur inscription. <i style="font-weight: normal">(La billetterie ouvre prochainement)</i><!--<a href="https://digital-society-forum.orange.com/fr/les-rencontres/79-atelier-collaboratif-a-strasbourg-tous-createurs-" target="_blank">inscription ici</a>.--></p>
        <!--<h3>Captation vidéo de l'événement :</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/f1ilo68mfow" frameborder="0" allowfullscreen></iframe><br>-->
        
        <h3 style="font-size: 15px;margin-top:30px;">Atelier adultes</h3>
        <p class="date">Mercredi 4 juillet de 18h30 à 22h</p>
        <p class="venue">Lieu : La Manufakture (7a Rue de la Krutenau)</p>
        <p class="type">Événement gratuit sur inscription. <i style="font-weight: normal">(La billetterie ouvre prochainement)</i><!--<a href="http://digital-society-forum.orange.com/fr/les-rencontres/la-famille-connectee" target="_blank">inscription ici</a>-->.</p>
      </div>      
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="img/digitalforum.jpg" />
        </div>
        <div class="thumbnail">
          <img src="img/logos/thumb/orange.png" />
        </div>
      </div>
    </div>
  </div>
</section>
