<section class="digitalforum" id="digitalforum">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Digital Society Forum Orange - Tous créateurs, tous makers</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <p class="concept" style="font-weight: bold;">
          Dessins, vidéos, photographies, jeux vidéos, mais également tricot, littérature ou encore musique, l’Internet est devenu une source riche et intarissable d’art en ligne. Ce sont des milliards d’utilisateurs qui partagent et créent chaque jour à travers des communautés et des applications des créations sur des thèmes variés. Quel est l’impact du numérique sur notre esprit inventif et créatif ? 
        </p>
        <p class="concept">
          Vous souhaitez réfléchir, partager sur la façon dont le numérique fait de nous des créateurs et des makers ? Constater les influences sur la diffusion de toutes ces créations, ce qu’elles deviennent, à qui elles profitent et les motivations qui les ont lancées ? Le Digital Society Forum vous invite à échanger autour de ce thème.
        </p>
        <p class="concept">
          L'atelier sera introduit par une présentation d'un sociologue chez Orange Labs et se déroulera en présence de deux grands témoins. 
        </p>        
        <p class="concept">
          Deux ateliers sont proposés un premier pour un public adulte et, parce que la créativité n’a pas d’âge, un deuxième pour un plus large public à partir de 10 ans mais ouvert à tous.
        </p>        
        <h3 style="font-size: 15px;margin-top:30px;">Atelier adultes</h3>
        <p class="date">Mardi 4 juillet de 18h30 à 21h00</p>
        <p class="venue">Lieu : Le Shadok</p>
        <p class="type">Événement gratuit sur inscription <i style="font-weight: normal">(La billetterie ouvre prochainement)</i><!--<a href="http://digital-society-forum.orange.com/fr/les-rencontres/la-famille-connectee" target="_blank">inscription ici</a>-->.</p>
        <!--<h3>Captation vidéo de l'événement :</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/f1ilo68mfow" frameborder="0" allowfullscreen></iframe><br>-->
        
        <h3 style="font-size: 15px;margin-top:30px;">Atelier jeunes et adultes</h3>
        <p class="date">Date : Mercredi 5 juillet de 15h00 à 17h00</p>
        <p class="venue">Lieu : Le Shadok</p>
        <p class="type">Événement gratuit sur inscription <i style="font-weight: normal">(La billetterie ouvre prochainement)</i><!--<a href="http://digital-society-forum.orange.com/fr/les-rencontres/la-famille-connectee" target="_blank">inscription ici</a>-->.</p>
      </div>      
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="img/digitalforum.jpg" />
        </div>
      </div>
    </div>
  </div>
</section>
