<section class="digitalforum" id="digitalforum">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Digital Society Forum Orange</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <p class="concept">
          Un atelier aura lieu en présence de Moustafa Zouinar, sociologue du département Sense des Oranges Labs. Le Digital Society Forum est une plateforme collaborative ouverte <strong>destinée à donner au plus grand nombre des clés de compréhension pour mieux appréhender notre « vivre numérique »</strong>. C’est un projet initié par Orange, avec Psychologies Magazine et la FING (Fondation Internet Nouvelle Génération).
        </p>        
        <h3 style="font-size: 15px;margin-top:30px;">Digital Society Forum Orange</h3>
        <p class="date">Date : Mardi 5 juillet de 18h à 22h</p>
        <p class="venue">Lieux : Le Shadok</p>
        <p class="type">Événement gratuit, entrée libre.</p>
        <p class="concept">
          La surabondance d’information et la multiplication des sollicitations par le biais des objets connectés toujours plus nombreux qui nous entourent posent des questions sur nos modes de vie et notre relation aux autres. Quels constats faisons-nous ? Quels sont les sujets saillants ? Quelles propositions pouvons-nous formuler ?
        </p>
        
        <h3 style="font-size: 15px;margin-top:30px;">Digital Society Forum Orange - Famille connectée</h3>
        <p class="date">Date : Mercredi 6 juillet de 15h à 17h</p>
        <p class="venue">Lieux : Le Shadok</p>
        <p class="type">Événement gratuit, entrée libre.</p>
        <p class="concept">        
          La surabondance d’information et la multiplication des sollicitations par le biais des objets connectés toujours plus nombreux qui nous entourent posent des questions sur nos modes de vie et notre relation aux autres.<br>
          Ces outils numériques permettent à chaque individu au sein de la famille de rester connecté à son entourage professionnel ou personnel. Mais leur présence n'est-elle pas aussi perturbatrice au sein de la famille ? Quels constats faisons-nous ? Quelles propositions pouvons-nous formuler ?
        </p>
      </div>      
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="img/digitalforum.jpg" />
        </div>
      </div>
    </div>
  </div>
</section>
