<section class="edgeday" id="edgeday">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h2>EDGE DAY</h2>
      </div>
    </div>
    <div class="row">
      <div class="span6">
        <p class="date">Date : Vendredi 5 juillet, de 9h à 18h</p>
        <p class="venue">Lieu : La Plage Digitale, 15 route du Rhin • F - 67100 Strasbourg</p>
        <p class="type">Événement gratuit, entrée libre.</p>
        <p class="concept">
          La Plage Digitale accueille toute la journée dans ses locaux le public du festival pour faire découvrir l’effervescence du numérique strasbourgeois. C’est l’opportunité de rencontrer et d’échanger avec l’ensemble des acteurs impliqués dans cette dynamique : entrepreneurs, artistes, clusters… C’est également l’occasion d’explorer le potentiel du coworking, une organisation innovante du travail basée sur la collaboration et le partage de compétences.
        </p>
        <p class="concept">
          Animations :
          <ul>
            <li>démonstrations de robotique ;</li>
            <li>atelier de création de jeu vidéo ;</li>
            <li>mini-conférences ;</li>
            <li>tables rondes / débats ;</li>
            <li>installations d’artistes ;</li>
            <li>et bien d'autres encores !</li>
          </ul>
        </p>
      </div>
      <div class="span6">
        <ul class="thumbnails">
          <li class="span3"><img src="img/edgeday1.jpg" /></li>
          <li class="span3"><img src="img/edgeday2.jpg" /></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="mt-20 thin">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h2>
          Liste des coworkers présents
          <br/>
          <small>Venez discuter avec tous les coworkers de La Plage Digitale et découvrir leurs domaines d'activités, leurs compétences et leur façon d'envisager le coworking :</small>
        </h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="span12">
        <ul class="unstyled dotted">
          <li>Anthony Bonhomme (<a href="http://www.goodmandyou.com/" target="_blank">Good Man & You</a>) : montage vidéo, production vidéo</li>
          <li>Véronique Campillo (<a href="http://colligence.fr/" target="_blank">Colligence</a>) : intelligence collective</li>
          <li><a href="http://goodmorningmajor.com/" target="_blank">Good Morning Major</a> : stratégie digitale</li>
          <li>François Huyn (<a href="http://www.ad-avenue.fr" target="_blank">AdAvenue</a>)</li>
          <li>Yann Klis, Kevin Soltysiak (<a href="http://www.novelys.com" target="_blank">Novelys</a>) : développement web, startups, Ruby/Rails</li>
          <li>Léo Unbekandt (<a href="http://www.appsdeck.eu/" target="_blank">Appsdeck</a>) : cloud, hosting</li>
          <li>Jean-Marc Libs (<a href="http://www.alsawiki.com" target="_blank">Alsawiki</a>)</li>
          <li>Greg Massa (<a href="http://www.monprochainjob.com" target="_blank">MonProchainJob.com</a>)</li>
          <li>Isabel Mota (<a href="http://www.agence-feuilledechoux.fr/" target="_blank">Feuille de Choux</a>)</li>
        </ul>
      </div>
      <div class="span12">
        <p><strong>Vous pourrez assister aux conférences et ateliers suivants :</strong></p>
        <ul class="unstyled dotted">
          <li>« Atelier sur l'intelligence collective » par Véronique Campillo</li>
          <li>« Définir sa stratégie digitale » par Good Morning Major</li>
          <li>« Social e-mailing » par François Huyn</li>
          <li>« Influence et réseaux sociaux » par Isabel Mota</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="mt-20" id="tablesrondes">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h2>
          Planning des tables rondes
          <br/>
          <small>En plus des ateliers, des démos, des stands et des présentations qui auront lieu toute la journée, retrouvez un planning des conférences et tables rondes qui auront lieu dans l'espace conférence :</small>
        </h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="span12">
        <table class="table table-striped table-bordered" style="color: black;">
          <thead>
            <tr>
              <th style="width:50px;"></th>
              <th>Titre</th>
              <th>Intervenants</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>8h</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>9h</td>
              <td>Utilisation de NFC dans les transports Strasbourgeois</td>
              <td>Sandrine André (CUS), Alain Caffart (CTS), Eric Jolin (Sopra Group), Anne Coreau (Orange)</td>
            </tr>
            <tr>
              <td>10h</td>
              <td>Programme d'ouverture des données publiques à Strasbourg (OpenData)</td>
              <td>Pierre France (Rue89 Strasbourg), Sandrine André (CUS), Philippe Houillère (Région Alsace), Damien Senger (Strasweb), Sébastien Heitzmann (2le)</td>
            </tr>
            <tr>
              <td>11h</td>
              <td>Numérique et santé, projet TechMed à Strasbourg</td>
              <td>Sébastien Letélié (Intuitive), Pr. Luc Soler (Médecin / Chercheur IRCAD), Jean-Luc Dimarcq (Directeur IHU)</td>
            </tr>
            <tr>
              <td>12h</td>
              <td>Pause déjeûner</td>
              <td>Intermède musical</td>
            </tr>
            <tr>
              <td>13h</td>
              <td>Futur Pôle Seegmuller, future Plage Digitale, que va-t-il se passer en 2014 du côté de la presqu'île Malraux ?</td>
              <td>Alsace Digitale, Pôle Seegmuller</td>
            </tr>
            <tr>
              <td>14h</td>
              <td>Droit d'auteur à l'ère digitale</td>
              <td>Pierre France (Rue89 Strasbourg), Sandrine Hillaire (Avocate au Barreau de Strasbourg), Pierre Schott (délégué régional de la Sacem), Christophe Masutti (président de Framasoft), Ivan Vollet (Les Enfants de La Pluie)</td>
            </tr>
            <tr>
              <td>15h</td>
              <td>Qu'est-ce qu'un Serious Game et qu'est-ce que cela peut apporter à mon entreprise ?</td>
              <td>Stéphane Becker (Method in The Madness)</td>
            </tr>
            <tr>
              <td>16h</td>
              <td>FabLab et impression 3D, le futur de l'industrie ?</td>
              <td>Pierre France (Rue89 Strasbourg), Collectif AV Exciters, Thierry Schneider (Cadindus), Emmanuel Laurent (Technistub)</td>
            </tr>
            <tr>
              <td>17h</td>
              <td>Buffet</td>
              <td>Intermède musical</td>
            </tr>
            <tr>
              <td>18h</td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
