<section class="eventbox edgenight" id="edgenight" data-title="{{ page.title }}" data-image="{{ page.facebook_image }}" data-description="{{ page.facebook_description }}">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>EdgeNight</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <p class="date">Date : Vendredi 7 juillet à 19h</p>
        <p class="venue">Lieu : Presqu'île Malraux, devant la Médiathèque</p>
        <p class="type">Événement gratuit, entrée libre. <!--<a href="https://www.facebook.com/events/430096677371073/">Indiquez votre présence sur l'événement Facebook !</a>--></p>
        <p class="concept">
          Une inoubliable expérience sensorielle. Les pieds dans le sable, sur les bords du canal de la Presqu’île Malraux, plusieurs artistes viendront rythmer la soirée... 
          <br><br>
          <!--<strong>Soirée DJ sur le sable</strong> à partir de 19h--><!--, Mur Air Graffiti  d’Orange, <a href="https://auxfrontieresdupixel.com/news/2016/06/23/realite-virtuelle-automobile-simulateur-voiture" target="_blank">simulateur de courses automobile</a> en <a href="https://auxfrontieresdupixel.com/nos-services/evenementiel-jeux-videos/decouverte-de-l-oculus-rift-animation-realite-virtuelle" target="_blank">réalité virtuelle</a> avec siège baquet et  <a href="https://auxfrontieresdupixel.com/jeux-video/retrogaming-location-bornes-arcade" target="_blank">mini bornes d'arcade bartop</a> au Shadok dès 20h, --><!--, projection sur la facade de la médiathèque, et pour finir une soirée silencieuse avec casques au bord de l’eau.--><!--, entresorts dans Rivétoile et surtout jeu géant développé par les hackers du <a href="https://www.facebook.com/groups/402624123157676/" target="_blank">HackSXB</a> sur la facade de l’UGC dès 22h.-->
        </p>
        <p>
          Détails des animations à venir !
          <!--<ul>
            <!--<li>Vidéomapping par Av Exciter</li>
            <li>Musique : Lord Cumbia + Banana Split, Steven J X Mister Natasha (soirée silencieuse)</li>
          </ul>-->
        </p>
        <!--<h3>À propos des artistes</h3>
        <p class="concept">-->
         <!-- <strong>Mudd Club Soundsystem</strong> (MCSS/locked grooves/strasbourg)<br><br>
          Le MCSS se compose de matt &amp; phil aka mister pilou leur sélection vous fera voyager entre soul, disco, afro &amp; house<br><br><br>-->
          <!--<strong>Lord Cumbia X Banana Split</strong><br><br>
          C'est la rencontre de deux passionnés, de musique tropicale, de rare grooves en provenance du monde entier. Les deux compères proposeront une sélection suave et chaleureuse, teintée de rythme des îles, ainsi que de basses bien épaisses. Pour la plaisirs de vos hanches &amp; de vos oreilles. <br><br>
          <strong>Banana Split</strong> / Sleediz Records<br>
          Dès 2002 il commence à caler quelques galettes de House, rejoint la ville de Strasbourg, se produit sur ses premières scènes et développe son style en mélangeant musiques électroniques, turntablism et beaucoup de potassium.<br>
          En 2010, à l’issue d’une tournée au Pérou il se libère de tous les codes et devient sensible aux influences World.Dès lors, le Moombahton retentissait timidement des USA jusqu'en France, et c'est plus particulièrement dans l'Est que Banana Split est devenu le pionnier du genre.<br>
          Jusqu'en 2015 il a partagé des scènes avec des incontournables tels que Schlachthofbronx, Milangeles, Mala Noche, Captain Steel, Rafael Aragon ou encore Sauvage FM.<br><br>
          <strong>Lord Cumbia</strong> / L'Autre Association<br>
          Karl Ferdinand alias Lord Cumbia, distille une musique tropicale et déviante, alliant la tradition aux nouvelles technologies afin de propulser les dancefloors sur la planète Global Bass.<br>
          Lord Cumbia a partagé la scène avec DENGUE DENGUE DENGUE, SAUVAGE FM, ANAKRONIC ELECTRO ORKESTRA, RADIOBOMB, FREESTYLE FROM THE ARSONISTS, DOPE D.O.D., BORIS VIANDE, et bien d'autres encore !<br><br><br>
          <strong>Mister Natasha</strong> (Whatever - Bugz Night)<br>
          <a href="https://soundcloud.com/mister-natasha" target="_blank">Mister Natasha</a> est un voyou « old school », un bandit certifié qui ne ménage jamais sa peine pour braquer le dancefloor avec du Son House &amp; Techno-Minimal, et dont le plaisir secret est de garder ses otages les mains en l'air jusqu'au bout de la nuit!
          </p>
      </div>
      <div class="col-md-4 text-center">-->
        <!--<iframe class="thumbnail" width="560" height="315" src="https://www.youtube.com/embed/5_gbaOL7wq8" frameborder="0" allowfullscreen style="max-width: 100%; margin: auto;"></iframe><br>-->
        <!--<iframe class="thumbnail" width="560" height="315" src="https://www.youtube.com/embed/VExD8QZynn8" frameborder="0" allowfullscreen style="max-width: 100%; margin: auto;"></iframe><br>-->
        <!--<img src="img/simulateurcourse.jpg" alt="photos simulateur de course" class="thumbnail" style="max-width: 100%">-->
      <!--</div>-->
    </div>
  </div>
</section>
