<section class="edgeday" id="edgeday">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>EDGE DAY</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <p class="date">Date : Samedi 4 juillet, de 14h à 19h</p>
        <p class="venue">Lieux : Extérieur (repli à l'UGC en cas de pluie) et Shadok</p>
        <p class="type">Événement gratuit, entrée libre.</p>
        <p class="concept">
          Alsace Digitale accueille toute la journée le public du festival pour faire découvrir l’effervescence du numérique strasbourgeois. C’est l’opportunité de rencontrer et d’échanger avec l’ensemble des acteurs impliqués dans cette dynamique : entrepreneurs, artistes, clusters… C’est également l’occasion d’explorer le potentiel du coworking, une organisation innovante du travail basée sur la collaboration et le partage de compétences.
        </p>
        <p class="concept">
          <p> Cette année, Edge Day comprendra <b>Maker Day</b> : un évènement consacré à des workshops originaux, et <b>Demo Day</b> : une journée de démonstration-test, de prototypes de productions créatives avec entre autres des innovations présentées pour le Millénaire de la Cathédrale. </p>
          Animations :
          <ul>
            <li>démonstrations de mini-robots ;</li>
            <li>atelier Av Lab ;</li>
            <li>atelier de création de bateaux télécommandés ;</li>
            <li>création de tongs ;</li>
            <li>vols de crazyflies ;</li>
            <li>et bien d'autres encores !</li>
          </ul>
        </p>
      </div>
       <div class="col-xs-4">
        <div class="row">
          <div class="col-xs-12">
          </div>
          <div class="col-xs-12">
          </div>
          <div class="col-xs-12">
            <p>
              <strong>Photos de l'édition précédente</strong>
            </p>
          </div>
          <div class="col-xs-6">
            <div class="thumbnail">
               <img src="img/edgeday1.jpg" />
            </div> 
            <div class="thumbnail">
               <img src="img/edgeday2.jpg" />
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
