<section class="eventbox edgenight" id="edgenight" data-title="{{ page.title }}" data-image="{{ page.facebook_image }}" data-description="{{ page.facebook_description }}">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>EdgeNight</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <p class="date">Date : Vendredi 6 juillet à 19h</p>
        <p class="venue">Lieu : Presqu'île Malraux, devant la Médiathèque</p>
        <p class="type">Événement gratuit, entrée libre.<br><a href="https://www.facebook.com/events/998676533619466/">PARTICIPEZ et INVITEZ VOS AMIS sur l'événement Facebook !</a></p>
        <p class="concept">
          <strong>Soirée DJ sur le sable</strong> à partir de 19h et dès 22h une <strong>Silent Party</strong> pour continuer la fête un casque sur les oreilles plongés dans plusieurs ambiances !
          <br><br>Une inoubliable expérience sensorielle. Les pieds dans le sable, sur les bords du canal de la Presqu’île Malraux, plusieurs artistes viendront rythmer la soirée... 
          
          <!--, Mur Air Graffiti  d’Orange, <a href="https://auxfrontieresdupixel.com/news/2016/06/23/realite-virtuelle-automobile-simulateur-voiture" target="_blank">simulateur de courses automobile</a> en <a href="https://auxfrontieresdupixel.com/nos-services/evenementiel-jeux-videos/decouverte-de-l-oculus-rift-animation-realite-virtuelle" target="_blank">réalité virtuelle</a> avec siège baquet et  <a href="https://auxfrontieresdupixel.com/jeux-video/retrogaming-location-bornes-arcade" target="_blank">mini bornes d'arcade bartop</a> au Shadok dès 20h, --><!--, projection sur la facade de la médiathèque, et pour finir une soirée silencieuse avec casques au bord de l’eau.--><!--, entresorts dans Rivétoile et surtout jeu géant développé par les hackers du <a href="https://www.facebook.com/groups/402624123157676/" target="_blank">HackSXB</a> sur la facade de l’UGC dès 22h.-->
        </p>
        
        <h3>Programmation musicale :</h3>
        <p>
          <ul>
            <li>
              <strong>Tropical Beach Party / 19h - 22h</strong><br><br>
              <a href="https://www.facebook.com/lordcumbia/" target="_blank">Lord Cumbia</a> X <a href="https://www.facebook.com/DJBananaSplit/" target="_blank">Banana Split</a><br><br>
              C'est la rencontre de deux passionnés, de musique tropicale, de rare grooves en provenance du monde entier. Les seuls frontières étant l’éclectisme et la recherche de trésors aussi envoûtant que dansant.<br><br>
              Ils proposeront une sélection suave et chaleureuse, teinté de rythmes des îles, de soukouss, ainsi que de basses bien épaisses.<br><br>Pour la plaisirs de vos hanches & de vos oreilles.<br><br><a href="https://www.mixcloud.com/sirr-lord-cumbia/lord-cumbia-x-banana-split-le-molodo%C3%AF-soutien-%C3%A0-mimir-06-02-2016/" target="_blank">Lien d’écoute</a><br><br>
            </li>
            <li>
              <strong>Silent Party / 22h - 00h</strong><br><br>
              <a href="https://www.facebook.com/JamesDjinn/" target="_blank">Lord Cumbia</a> X <a href="https://www.facebook.com/khojo600/" target="_blank">Ostalgie</a><br><br>
              James Djinn - <a href="https://www.facebook.com/lesillspage/" target="_blank">Les ills</a><br><br>
              Pratiquant les platines depuis plus d'une demi décennie il a plaisir à effacer les frontières qui peuvent séparer les genres musicaux et les cultures.<br><br>
              <a href="https://soundcloud.com/james-djinn" target="_blank">Lien d'écoute</a><br><br>
              Ostalgie - <a href="https://www.facebook.com/labelbande/" target="_blank">BM - bande magnétique</a><br><br>
              Ostalgie projet principal qui combine deux passions, le son et le cinéma - ost (original soundtrack). 
              Mélangeant enregistrements sonore ou bien visuel, à ses propres compositions généralement atmosphériques teintés de sentiments de nostalgie qui lui sont propres.<br><br>
              Directeur artistique et trimardeur acharné au sein du collectif strasbourgeois Les ills crée en 2014.<br><br>
              Il décide récemment de lancer sa propre plateforme BM - bande magnétique, éponyme des soirées, qui consistait à enregistrer en live des performances, afin de les partager et de promouvoir le travail des producteurs, machinistes et platinistes talentueux qui l’entourent.<br><br>
              <a href="https://soundcloud.com/rawjoe" target="_blank">Lien d'écoute</a><br><br>
            </li>
            <li>
              <strong>Live Coding Night / 22h30 - 23h00</strong><br><br>
              "Performance Live coding avec vidéo projection"<br>22h30 - 23h30 @ Parvis Médiathèque Malraux<br><br>
              Live Coding Quésako ?<br><br>
              Le Live coding est une technique de programmation basée sur l'utilisation de programmation interactive improvisée.<br><br>
              Le Live coding est souvent utilisé pour créer des médias digitaux basés sur des sons et des images, et est particulièrement représenté en musique assistée par ordinateur.<br><br>
              Il combine musique algorithmique et improvisation. Typiquement, le processus d'écriture est rendu visible par projection de l'écran d'ordinateur dans l'audience, avec des moyens de visualisation du code, et une aire de recherche active.<br><br>
              Source : <a href="https://fr.wikipedia.org/wiki/Live_coding" target="_blank">Wikipedia</a> <br><br>
              SVDK<br>
              <a href="http://www.svdk.fr/live-coding/" target="_blank">http://www.svdk.fr/live-coding/</a><br><br>
              ZBDM<br>
              <a href="https://www.facebook.com/zuperbendingdistomusic/" target="_blank">https://www.facebook.com/zuperbendingdistomusic/</a><br><br>
              EVIL PONY<br><br>
          </ul>
          Powered by <a href=">https://www.facebook.com/TastyBoooking/" target="_blank">Tasty Booking</a>
        </p>
        <h3>Animations sur la presqu'île :</h3>
        <p>
          <ul>
            <li>Partez à la chasse aux items avec votre smartphone et faites-en offrande au poulpe avant qu’il ne s’emporte et détruise l’humanité. Un jeu développé par la communauté <a href="http://hacksxb.com" target="_blank">HackSXB</a>.</li>
            <li>Plus d'infos à venir...
          </ul>
        </p>
        <!--<h3>À propos des artistes</h3>
        <p class="concept">-->
         <!-- <strong>Mudd Club Soundsystem</strong> (MCSS/locked grooves/strasbourg)<br><br>
          Le MCSS se compose de matt &amp; phil aka mister pilou leur sélection vous fera voyager entre soul, disco, afro &amp; house<br><br><br>-->
          <!--<strong>Lord Cumbia X Banana Split</strong><br><br>
          C'est la rencontre de deux passionnés, de musique tropicale, de rare grooves en provenance du monde entier. Les deux compères proposeront une sélection suave et chaleureuse, teintée de rythme des îles, ainsi que de basses bien épaisses. Pour la plaisirs de vos hanches &amp; de vos oreilles. <br><br>
          <strong>Banana Split</strong> / Sleediz Records<br>
          Dès 2002 il commence à caler quelques galettes de House, rejoint la ville de Strasbourg, se produit sur ses premières scènes et développe son style en mélangeant musiques électroniques, turntablism et beaucoup de potassium.<br>
          En 2010, à l’issue d’une tournée au Pérou il se libère de tous les codes et devient sensible aux influences World.Dès lors, le Moombahton retentissait timidement des USA jusqu'en France, et c'est plus particulièrement dans l'Est que Banana Split est devenu le pionnier du genre.<br>
          Jusqu'en 2015 il a partagé des scènes avec des incontournables tels que Schlachthofbronx, Milangeles, Mala Noche, Captain Steel, Rafael Aragon ou encore Sauvage FM.<br><br>
          <strong>Lord Cumbia</strong> / L'Autre Association<br>
          Karl Ferdinand alias Lord Cumbia, distille une musique tropicale et déviante, alliant la tradition aux nouvelles technologies afin de propulser les dancefloors sur la planète Global Bass.<br>
          Lord Cumbia a partagé la scène avec DENGUE DENGUE DENGUE, SAUVAGE FM, ANAKRONIC ELECTRO ORKESTRA, RADIOBOMB, FREESTYLE FROM THE ARSONISTS, DOPE D.O.D., BORIS VIANDE, et bien d'autres encore !<br><br><br>
          <strong>Mister Natasha</strong> (Whatever - Bugz Night)<br>
          <a href="https://soundcloud.com/mister-natasha" target="_blank">Mister Natasha</a> est un voyou « old school », un bandit certifié qui ne ménage jamais sa peine pour braquer le dancefloor avec du Son House &amp; Techno-Minimal, et dont le plaisir secret est de garder ses otages les mains en l'air jusqu'au bout de la nuit!
          </p>-->
        <p class="concept" style="margin-top: 30px;">
          Merci à <a href="https://www.knotcity.com" target="_blank">Knot</a> de permettre au staff de se déplacer à trotinette pendant la soirée !<br>
          <br><a href="https://www.knotcity.com" target="_blank"><img class="thumbnail" style="height: 80px;display: inline;"  src="img/logos/orig/knot.jpg"/></a>
        </p>
      </div>
      <div class="col-md-4 text-center">
        <!--<iframe class="thumbnail" width="560" height="315" src="https://www.youtube.com/embed/5_gbaOL7wq8" frameborder="0" allowfullscreen style="max-width: 100%; margin: auto;"></iframe><br>-->
        <!--<iframe class="thumbnail" width="560" height="315" src="https://www.youtube.com/embed/VExD8QZynn8" frameborder="0" allowfullscreen style="max-width: 100%; margin: auto;"></iframe><br>-->
        <img src="img/edgenight_n1.jpg" alt="DJ EdgeNight" class="thumbnail" style="max-width: 100%">
        <img src="img/edgenight_n2.jpg" alt="Plage EdgeNight" class="thumbnail" style="max-width: 100%">
      </div>
    </div>
  </div>
</section>
