<section class="edgeday" id="edgeday">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>EDGE DAY</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7" style="margin-bottom: 35px;">
        <p class="concept">
          Alsace Digitale accueille toute la journée le public du festival pour faire découvrir l’effervescence du numérique strasbourgeois. C’est l’opportunité de rencontrer et d’échanger avec l’ensemble des acteurs impliqués dans cette dynamique : entrepreneurs, artistes, clusters… C’est également l’occasion d’explorer le potentiel du coworking, une organisation innovante du travail basée sur la collaboration et le partage de compétences.
        </p>
        <p class="concept">
          <p>Cette année encore, Edge Day comprendra <b>Maker Day</b> : un évènement consacré à des workshops originaux, et <b>Demo Day</b> : une journée de démonstration-test, de prototypes de productions créatives.</p>
        </p>
        <h3 style="font-size: 15px;margin-top:0;">Demo Day</h3>
        <p class="date">Date : Samedi 9 juillet de 14h à 19h</p>
        <p class="venue">Lieux : Le Shadok</p>
        <p class="type">Événement gratuit, entrée libre.</p>
        <p class="concept">
          Ateliers de « B’ta-Test », de prototypes de productions créatives, démonstration de robotique et autres innovations. Ces ateliers ont pour but d’initier une large cible d’utilisateurs à des usages créatifs et innovants, tout en favorisant les échanges avec les professionnels présents.<br><br>
        </p>
        <h4>AU SHADOK DE 14H À 19H</h4>
        <p>
          <strong>E-modul</strong><br>
          Des solutions innovantes de transport électrique pour les professionnels et les particuliers.<br><br>
          <strong>Le livre qui prend vie : Dessine moi le vent !</strong><br>
          « Dessine-moi le vent » est un vrai livre, en vente en librairie et sur Internet, mais ce livre est magique! Grâce à votre tablette numérique, votre enfant pourra donner vie à certaines de ses pages.<br>
          Attention une surprise musicale vous attend : l’orgue de Barbarie de M. Fernique !<br><br>
          <strong>Ecoteam</strong><br>
          Pendant 6 mois, Face et Alsace Digitale ont accompagné 12 jeunes en Service Civique dans leur mission d’accompagnateur de la transition énergétique. Ils ont créé leur propre objet connecté qu’ils vous présenteront lors de cet Edgeday. Vos frigos n’auront qu’à bien se tenir !<br><br>
          <strong>Air Graffiti – proposé par Orange</strong><br>
          Bombe virtuelle en main, laissez libre cours à votre créativité et réalisez votre propre oeuvre. Taggez, peignez, dessinez ou calligraphiez sur une toile géante !<br><br><br>
        </p>
        <h3 style="font-size: 15px;margin-top:0;">Maker Day</h3>
        <p class="date">Date : Samedi 9 juillet de 14h à 17h (19h pour Hackstub et le fablab)</p>
        <p class="venue">Lieux : Extérieur / UGC / Shadok</p>
        <p class="type">Événement gratuit, entrée libre.</p>
        <p class="concept">
          <strong>Événement consacré à des workshops originaux</strong> : fabrication de potentiels bolides roulants ou de petits robots dessinateurs grâce à des objets du quotidien et ateliers de programmation. Les professionnels présents seront OuHackPo, AV Lab, Hackstub, La Fabrique et Robotic Junior.
        </p><br>
        <h4>À L'UGC CINECITÉ DE 14H À 17H</h4>
        <p>
          <strong>L'OuHackPo– Petits robots</strong><br>
          "Construire un petit robot qui dessine avec un gobelet en plastique, un moteur, une pile et quelques feutres de couleur…"<br><br>
          <strong>Robotic Junior Entrepreneur</strong><br>
          L’association viendra vous présenter ses derniers robots développés pour être réalisés par des collégiens.<br><br>
          <strong>La Fabrique</strong><br>
          Viens fabriquer ton propre jeu de quilles finlandaises en bois!<br>
          Age minimum : 18 ans. Pas de compétences particulières requises mais plutôt une forte motivation à utiliser les outils. Tenue adaptée ( pas de vêtements amples, cheveux attachés,  ...)<br>
          <strong>Sur inscription</strong> : <a href="https://www.eventbrite.fr/e/billets-fabrication-jeu-de-quilles-de-plage-la-fabrique-26419513476" target="_blank">https://www.eventbrite.fr/e/billets-fabrication-jeu-de-quilles-de-plage-la-fabrique-26419513476</a><br><br>
        </p>
        <h4>AU SHADOK DE 14H À 19H</h4>
        <p>
          <strong>Fab-Lab</strong><br>
          Viens faire un super circuit pour les petits robots Thymio !<br><br>
        </p>
        <h4>DANS LA VILLE DE 14H À 19H</h4>
        <p>
          <strong>Hacking Treasure Hunt, un jeu dans la ville développé par Hackstub</strong><br>
          Nous vous proposons un parcours dans Strasbourg sous la forme d'une chasse au trésor numérique. Des points d’accès WiFi sont répartis dans la ville. En vous y connectant avec votre smartphone, vous aurez à répondre à des questions portant sur la sécurité informatique (tout en restant accessible à tous), vous indiquant ainsi le point suivant.<br>
          Matériel nécessaire : un smartphone avec accès WiFi / Internet<br>
          (Compter 1 à 2h pour faire le parcours)<br>
          Contact : <a href="mailto:alex@hackstub.netlib.re">alex@hackstub.netlib.re</a><br><br>
        </p>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-xs-12">          
            <iframe width="560" height="315" src="https://www.youtube.com/embed/uhmEqfV2j1I" frameborder="0" allowfullscreen class="thumbnail"></iframe>
            <div class="thumbnail">
               <img src="img/dessine-moi-le-vent.jpg" />
            </div>
            <div class="thumbnail">
               <img src="img/makerday1.jpg" />
            </div>
            <div class="thumbnail">
               <img src="img/makerday2.jpg" />
            </div>
            <div class="thumbnail">
               <img src="img/makerday3.jpg" />
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
