
<section class="edgenight" id="edgenight">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h2>EDGE NIGHT</h2>
        <p class="anim">Animé par Les Enfants De La Pluie et le Collectif AV Exciters</p>
        <p class="date">Date : Samedi 6 juillet, de 19h à 23h30</p>
        <p class="venue">Lieu : Presqu'île Malraux, devant le Rivetoile</p>
        <p class="type">Événement gratuit, entrée libre. <a href="https://www.facebook.com/events/1376024369279252/">Indiquez votre présence sur l'événement Facebook !</a></p>
        <p>
          <img src="/img/edgenight1.jpg" />
        </p>
        <p class="concept">
          Une soirée entièrement dédiée au processus de création sous toutes ses formes : design, architecture, graphisme… Des formats innovants et ludiques pour un moment convivial.
        </p>
        <p class="concept">
          "EdgeNight" est un évènement festif qui constitue un  des points d’orgue du festival Edgefest. Il s'agit d'ouvrir des perspectives concernant le potentiel de ces communautés en favorisant une intermédiation envers un large public. L'enjeu de cet évènement est de favoriser les croisements entre communautés artistiques et numériques.
        </p>
        <p class="concept">
          L'enjeu est de préfigurer le potentiel du projet afférent au Môle Seegmuller, à cette fin l'association Alsace Digitale envisage notamment d'investir la presqu'île Malraux.
        </p>
        <p class="concept">
          Il s'agit de proposer le temps d'une soirée une version éphémère de "Plage digitale" où un concert électronique sera proposé tout en donnant accès pour un large public à une rêverie autour des possibilités de déploiement du batiment Seegmuller.
        </p>
        <p class="concept">
          Animations :
          <ul>
            <li>Performance de mapping sur la surface du chantier Seegmuller par le <a href="http://av-exciters.com/" target="_blank">Collectif AV Exciters</a></li>
            <li>Concert électronique du collectif <a href="http://www.ledlp.net" target="_blank">« Les Enfants De La Pluie »</a></li>
            <li>Ce sera l'occasion de remixer et diffuser les <a href="/summercamp.html#decouvertessonores">contenus audio qui auront été collectés durant le Summer Camp</a>.</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</section>
