<section class="espacessonores" id="espacessonores">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Espaces Sonores</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8">
        <p class="date">Date : Du mercredi 1 juillet au dimanche 2 août 2015</p>
        <p class="venue">Lieu : Shadok</p>
        <p class="type">Événement gratuit</p>
        <p class="concept">
        Parmi les usages prégnants de l’ère numérique figurent en bonne place les concepts de réseau, de participation et de convergence des médias.
        L’art interactif saisit très largement ces notions pour s'approprier de nouveaux champs d'investigation et d'expression.
        <br/>
        L'exposition Espaces sonores met en avant l'interactivité et propose au public de prendre part au processus de création : déclencher un son par une simple présence, le modifier d’un geste ; pénétrer et transformer la texture sonore à l'aide d'espaces-instruments, de surfaces-partitions et d'autres interfaces atypiques.
        <br/>
        Avec les oeuvres de :
        <ul>Philippe Boisnard et Arnaud Courcelle
        <li>Alexander Burton</li>
        <li>Mathieu Chamagne</li>
        <li>Tom Mays</li>
        <li>Léonore Mercier</li>
        <li>Scenocosme</li>
        <li>Enrique Tomás</li>
        </ul>
        <br/>
        <b>Commissaires : Sébastien Clara, Gaëtan Gromer, Eric Maestri</b>
        <br/>
        Une exposition proposée par le Shadok, Saxopen et le GREAM - Université de Strasbourg.
        </p>
      </div>
    </div>
  </div>
</section>
