<section class="espacessonores" id="espacessonores">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Espaces Sonores</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8">
        <p class="date">Date : Du mercredi 1 juillet au dimanche 2 août 2015</p>
        <p class="venue">Lieu : Shadok</p>
        <p class="type">Événement gratuit</p>
        <p class="concept">
        Parmi les usages prégnants de l’ère numérique figurent en bonne place les concepts de réseau, de participation et de convergence des médias.
        L’art interactif saisit très largement ces notions pour s'approprier de nouveaux champs d'investigation et d'expression.
        <br/>
        L'exposition Espaces sonores met en avant l'interactivité et propose au public de prendre part au processus de création : déclencher un son par une simple présence, le modifier d’un geste ; pénétrer et transformer la texture sonore à l'aide d'espaces-instruments, de surfaces-partitions et d'autres interfaces atypiques.
        <br/>
        Avec les oeuvres de :
        <ul>Philippe Boisnard et Arnaud Courcelle
        <li>Alexander Burton</li>
        <li>Mathieu Chamagne</li>
        <li>Tom Mays</li>
        <li>Léonore Mercier</li>
        <li>Scenocosme</li>
        <li>Enrique Tomás</li>
        </ul>
        <br/>
        <b>Commissaires : Sébastien Clara, Gaëtan Gromer, Eric Maestri</b>
        <br/>
        Une exposition proposée par le Shadok, Saxopen et le GREAM - Université de Strasbourg.
        </p>
        <p><strong>Atelier de plastique sonore - Marine Angé.<br></strong>
            Date : Du Jeudi 2 Juillet au Vendredi 3 Juillet
            Lieu : Shadok </p>
        
        <br/>
        <p> 
        Avec les outils et les documentations mis à disposition, il sera question de créer de manière sonore, une narration en relation avec la presqu'île Malraux sous la forme d'un témoignage imaginaire, d'un récit raconté, ou encore d'une improvisation poétique…etc. 
        Durant l'atelier, les participants passeront en groupe ou seuls, par toutes les étapes de la création : enregistrement, montage, mixage rapide pour finir la journée par une écoute de chaque projets. Les créations serons aussi présentées sous la forme d'écoute au casque lors de l'Edge Night.
        </p>
        <p>
        Pour les jeunes de 11 à 16 ans <br>
        Inscription : contact.shadok@strasbourg.eu 
        </p>
        <br/>
        <p><strong>Atelier de cinéma d’animation - Ateliers vagabonds : Week-end Light Painting</strong></p>
        <br/>
        <p>
          Date : Samedi 4 Juillet 2015 <br>
          Lieu : Shadok
          Technique – Animation en Light Painting <br>
          Cet atelier est en lien avec le festival Open Sax. <br>
          On se sert de petites torches pour  visualiser les sons que produisent des saxophones – en lumière !</p>
        <p>
          Date : Dimanche 5 Juillet 2015 <br>
          Lieu : Shadok
          Technique – Déambulation / animation en Light Painting <br>
          L’espace en mode Light Painting. Les corps et les objets s’illuminent et s’animent au gré de l’imagination de chacun.<br>
          Sans inscription. </p>
      </div>
    </div>
  </div>
</section>
