<section class="fablab" id="fablab">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Ateliers FabLab et Brunch FabCafé</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8" style="margin-bottom: 35px;">
        <h3 style="font-size: 15px;margin-top:0;" id="bettlewood">WORKSHOP > 3DBettleWood</h3>
        <p class="date">Date : Samedi 1er juillet de 15h à 16h30</p>
        <p class="venue">Lieu : Fablab du Shadok</p>
        <p class="type">Événement payant (30€ + adhésion fablab). Inscription : <a href="mailto:atelier@av-lab.net">atelier@av-lab.net</a></p>
        <p class="concept">
          Nous vous proposons la réalisation d’un scarabée en bois et papier coloré. Une fois entièrement découpé au laser, il ne vous restera plus qu’à l' assembler et à le décorer à votre goût. A l’image d'un puzzle 3D, nous suivrons un principe de découpe puis d’assemblage qui nous permettra de recréer le volume de l’insecte. Par la suite nous habillerons celui-ci avec des techniques d’origami. Venez apprendre à découper grâce à une découpeuse laser pilotée par ordinateur et ainsi construire un magnifique scarabée en 3D à votre image pour offrir ou enrichir votre maison. Un véritable projet DIY qui vous immergera dans les outils à commande numérique.
        </p>

        <br><br>

        <h3 style="font-size: 15px;margin-top:0;" id="scantaface">ATELIERS > Scan ta face</h3>
        <p class="date">Date : Mercredi 5 juillet de 13h à 15h</p>
        <p class="venue">Lieu : Fablab du Shadok</p>
        <p class="type">Gratuit sans impression (30€ l'impression). Inscription : <a href="mailto:atelier@av-lab.net">atelier@av-lab.net</a></p>
        <p class="concept">
          Venez vous scanner et scanner vos amis, votre famille... Grâce à notre scanner3D, repartez avec votre portrait au format numérique et pourquoi pas, si vous avez du temps et de l’envie, imprimez vous vous-même!
        </p>

        <br><br>

        <h3 style="font-size: 15px;margin-top:0;" id="brunch">BRUNCH des Makers</h3>
        <p class="date">Date : Dimanche 2 juin juillet de 11h à 18h</p>
        <p class="venue">Lieux : FabCafe (Shadok)</p>
        <p class="concept">
          Venez déguster le brunch des Makers au Fabcafé, le café du Shadok. Nous l’avons spécialement decliné en 3 formules pour satisfaire toutes les envies. (sucré,salé et sucré/salé) et le tout dans un lieux ou non seulement vous pourrez deguster de bon petits produits mais aussi partager et évoluer dans un environnement propice à la créativité. Cette véritable plateforme ouverte encourage et responsabilise chacun à prendre l’initiative de faire quelque chose en posant une simple question, What do you fab?
          <br>
          Et pour y répondre on vous aide: Pancakebot pour imprimer ses propres pancakes, thermoformeuse pour créer ses propres moules à chocolat ou encore graveuse laser capable d’inscrire n’importe quoi sur (quasiment) n’importe quoi…on vous laisse imaginer.
          <br><br>
          3 formules aux choix : 
          <ul>
            <li>NIVEAU 1 (sucré) : 12€</li>
            <li>NIVEAU 2 (salé) : 15€</li>
            <li>NIVEAU 3 (sucré/salé) : 19€</li>
          </ul>
          Les 3 formules sont accompagnées d’une boisson chaude à volonté et d’une pressade de fruit frais.
        </p>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-xs-12">
            <div>
               <img style="max-width: 100%" src="img/logos/orig/avlab.png" alt="avlab" />
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
