<section class="fablab" id="fablab">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Ateliers FabLab et Brunch FabCafé</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7" style="margin-bottom: 35px;">
        <h3 style="font-size: 15px;margin-top:0;"></h3>
        <p class="date">Date : Date à venir</p>
        <p class="venue">Lieux : Fablab du Shadok</p>
        <p class="type">Événement payant. Inscription : </p>
        <p class="concept">
          Description à venir
        </p>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-xs-12">
            <div>
               <img style="max-width: 100%" src="img/logos/orig/avlab.png" alt="avlab" />
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
