<section class="gamejam" id="gamejam">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Atelier Game Jam</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8">
        <p class="date">Date : Jeudi 2 juillet de 19h00 à 22h00</p>
        <p class="venue">Lieu : Shadok</p>
        <p class="type">Événement gratuit.</p>
        <p class="concept">
        Soirée atelier de présentation du concept de Game Jam
        <br/>
         Une Game Jam est un marathon de création de jeux vidéo. Cette soirée permettra au public de se familiariser avc le concept et de tester des jeux créés lors de précédentes Game Jam.
        <br/>
        Ce sera aussi l'occasion pour de potentiels participants de rencontrer leurs futurs collaborateurs et partager leurs idées à envies.
        <br/>
        Cette rencontre est ouverte à tous les publics gamer, developper, designer...
        </p> 
        Manifestation gratuite sur inscription <a href="https://www.eventbrite.fr/e/billets-atelier-game-jam-17304601529">Eventbrite</a> 
      </div>
    </div>  
  </div>
</section>
