<section class="hackathon" id="hackathon">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h2><span class="small-caps">HACKATHON</span> "Give Back To Alsace Digitale"</h2>
      </div>
    </div>
    <div class="row">
      <div class="span6">
        <p class="date">Date : Dimanche 7 juillet, de 10h à 18h</p>
        <p class="venue">Lieu : La Plage Digitale, 15 route du Rhin • F - 67100 Strasbourg</p>
        <p class="type">Événement gratuit sur pré-inscription. <a href="https://www.facebook.com/events/675715105775386/">Pré-inscription ici !</a></p>
        <p class="type"></p>
        <p class="concept">
          Un hackathon est un événement où des développeurs, des designers, des graphistes, se réunissent pour faire de la programmation informatique collaborative, sur plusieurs jours. Le terme est la contraction de "hack" et de "marathon".
        </p>
        <p class="concept">
          A la demande générale, Alsace Digitale organise un hackathon dont l'objectif sera d'améliorer l'infrastructure logicielle et matérielle d'Alsace Digitale et de La Plage Digitale. Voici une liste des projets envisagés :
          <ul>
            <li>mise en place d'un wiki pour les plagistes ;</li>
            <li>site web hacksxb.com pour rassembler les projets, les photos, etc. ;</li>
            <li>site web pour l'initiative Devoxx4kids à Strasbourg ;</li>
            <li>site web pour rassembler les projets HackLeChalet ;</li>
            <li>site web d'organisation d'événements ;</li>
            <li>système de gestion de réservations ;</li>
            <li>panneau d'affichage pour les salles de réunion à base de Raspberry Pi ou d'Arduino ;</li>
            <li>panneau d'affichage pour afficher les informations générals ;</li>
            <li>mise en place logiciel de retransmisson audio/vidéo live sur Internet ;</li>
            <li>système de contrôle d'accès par SMS ;</li>
            <li>interfaçage de l'interphone avec un système de VoIP ;</li>
            <li>Et ainsi de suite ; amenez votre propre idée !</li>
          </ul>
        </p>
        <p class="concept">
          Animations :
          <ul>
            <li>Hackathon : rassemblement de développeurs organisés par équipe autour de porteurs de projet avec l’objectif de produire un prototype d’application en quelques heures. La référence au Marathon se justifie par le travail sans interruption des développeurs pendant toute une journée. Le repos n’a pas vraiment sa place dans ce type d’évènement !</li>
          </ul>
        </p>
      </div>
      <div class="span6">
        <ul class="thumbnails">
          <li class="span3"><img src="img/hackathon2.jpg" /></li>
          <li class="span3"><img src="img/hackathon3.jpg" /></li>
          <li class="span3"><img src="img/hackathon4.jpg" /></li>
          <li class="span3"><img src="img/hackathon1.jpg" /></li>
        </ul>
      </div>
    </div>
  </div>
</section>
