<section class="hackathon" id="hackathon">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2><span class="small-caps">HACKATHON</span></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <p class="date">Date : Jeudi 3 juillet, de 18h à 23h</p>
        <p class="venue">Lieu : La Plage Digitale, 15 route du Rhin Strasbourg</p>
        <p class="type">Événement gratuit sur pré-inscription. <a href="https://www.facebook.com/events/770301113003097/">Pré-inscription ici !</a></p>
        <p class="type"></p>
        <p class="concept">
          Un hackathon est un événement où des développeurs, des designers, des graphistes, se réunissent pour faire de la programmation informatique collaborative. Le terme est la contraction de "hack" et de "marathon". 
          Cette séance spéciale du HackSXB sera dédiée à des créateurs (plasticiens, designers, metteurs en scènes, musiciens…) A eux de venir soumettre une de leurs problématiques. Venez vous rassembler et tentez de proposer des réponses concrètes, techniques et opérationnelles.
          Une soirée ouverte à tous les hackers strasbourgeois (programmeurs, bricoleurs, designers…) et aux acteurs du milieu créatif (designer, architecte, metteur en scène...)
        </p>
        <p class="concept">
          Animations :
          <ul>
            <li>Hackathon : rassemblement de développeurs organisés par équipe autour de porteurs de projet avec l’objectif de produire un prototype d’application en quelques heures. La référence au Marathon se justifie par le travail sans interruption des développeurs pendant toute une journée. Le repos n’a pas vraiment sa place dans ce type d’évènement !</li>
          </ul>
        </p>
      </div>
       <div class="col-xs-4">
        <div class="row">
          <div class="col-xs-12">
            <p>
              <strong>Une brève présentation du concept !</strong>
            </p>
          </div>
          <div class="col-xs-12">
            <p>
     <iframe width="300" height="169" src="//www.youtube.com/embed/cTNvB08gsPo?list=UUXVLNTwPIsKI5yGtAen2g5w" frameborder="0" allowfullscreen></iframe>        <iframe width="300" height="169" src="//www.youtube.com/embed/s7phUqHeXNc?rel=0" frameborder="0" allowfullscreen></iframe>
            </p>
          </div>
          <div class="col-xs-12">
            <p>
              <strong>Photos de l'édition précédente</strong>
            </p>
          </div>
          <div class="col-xs-6">
            <div class="thumbnail">
              <img src="img/hackathon2.jpg" /></div>
            <div class="thumbnail">
              <img src="img/hacksxb_small.jpg" /></div>
            <div class="thumbnail">
              <img src="img/hackathon4.jpg" /></div>
            <div class="thumbnail">
              <img src="img/hackathon1.jpg" /></div>
            </div>
          </div>
      </div>
    </div>
    </div>
  </div>
</section>
