<section class="hackathon" id="hackathon">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2><span class="small-caps">HackSXB</span></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <p class="date">Date : Vendredi 30 juin, de 19h à 24h</p>
        <p class="venue">Lieu : La Plage Digitale, 15 route du Rhin Strasbourg</p>
        <p class="type">Événement gratuit sur pré-inscription. <a href="https://www.meetup.com/HackSXB/events/240961729/" target="_blank">Inscription ici !</a></p>
        <p class="type"></p>
        <p class="concept">
          Le HackSXB est une communauté particulièrement active qui mobilise autant les étudiants qu’un public actif. Organisé les derniers vendredis de chaque mois, le HackSXB est une soirée dédiée à la programmation. Sur des sujets libres ou parfois plus thématiques. Chacun vient avec son projet ou participe à un projet commun.
        </p>
        <p class="concept">
          Description de la soirée à venir !
        </p>
        <div class="thumbnail" style="margin-top: 25px;">          
          <a href="http://hacksxb.com/" target="_blank"><img src="/img/hacksxb.jpg" alt="logo hacksxb" /></a>
        </div>
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-xs-12">
            <div class="thumbnail"><img src="img/hacksxb-photo.jpg" /></div>
          </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
