<section class="eventbox ignite" id="ignite" data-title="{{ page.title }}" data-image="{{ page.facebook_image }}" data-description="{{ page.facebook_description }}">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Soirée Ignite</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <p class="date">Date : Lundi 2 juillet à 19h</p>
        <p class="venue">Lieu : Shadok</p>
        <p class="type">Évènement gratuit sur inscription. <i style="font-weight: normal">(La billetterie ouvre prochainement)</i><!--<a target="_blank" href="https://www.eventbrite.fr/e/billets-demo-night-12-35265413802">Participez ici !</a>--></p>
        <p class="type"></p>
        <p class="concept">
          Les présentations PowerPoint vous ennuient à mourir ? Nous aussi ! Il est l'heure du changement, de réintroduire le fun dans ces diaporamas, qui chaque année, déciment des populations entières. L'Ignite débarque enfin à Strasbourg pour l’EdgeFest ! L’Ignite, c’est l’art de mettre le feu aux poudres et de tout faire exploser, avec une présentation visuelle débarrassée de tout le superflu et qui va droit à l’essentiel.<br><br>
          Voici les règles :<br>
        - Présentation de 5 minutes<br>
        - 20 slides<br>
        - 15 secondes par slide<br>
        - La présentation défile en mode automatique<br>
        - Le sujet est absolument LIBRE<br><br>

        A vous d’utiliser tous vos talents d’orateur pour convaincre le public des bienfaits de votre sujet, à vitesse grand V ! Tic tac tic tac…<br>

        </p>
        <p class="concept">
          <strong>Une idée de talk ? <a href="https://docs.google.com/forms/d/e/1FAIpQLSe1CbHM9WXN9fJkoUqe3_fs1KMikOEIowPgrGVypKlP8hh4rg/viewform">Répondez à l'appel à speakers !</a>
        </p>
      </div>
      <div class="col-md-4">      
        <!--<iframe class="thumbnail" width="560" height="315" src="https://www.youtube.com/embed/-zF3ufmxNgk" frameborder="0" allowfullscreen></iframe><br>-->
        <div class="thumbnail">
          <img src="img/ignite.jpg" />
        </div>
      </div>
    </div>
  </div>
</section>
