<section class="intro">
    <div class="container">
        <div class="row" style="background-color: orange; margin-top: 20px">
            <div class="col-xs-12">
                <p><b>Appel à bénévoles</b></p>

                <p>Le succès du festival EdgeFest dépend de l'appui de ses bénévoles, nous comptons sur vous !</p>

                <p><a href="http://pdf.lu/fWqF/">Appel à bénévoles</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
               <p style="margin-top:20px;">
                <strong>EdgeFest</strong>, le festival des communautés numériques et créatives à Strasbourg est de retour pour une quatrième édition, cet été.
              </p>
              <p style="margin-top:20px;">
                <em>“Edge”</em>, pour la bordure, l’espace de créativité qui fait de ce festival un évènement unique.
                <em>“Fest”</em>, de “festival”, la fête de l’innovation et du numérique, de l’été et de la Plage.
              </p>
              <p><strong>Organisé par</strong> <a href="http://www.alsacedigitale.org/">Alsace Digitale</a>, <strong>en collaboration avec le Shadok et</strong> <span style="color:#22D752">Strasbourg Eurométropole</span>, et en partenariat avec Av-Lab,
              EdgeFest c’est également l’occasion de découvrir la presqu’île Malraux d’une toute nouvelle manière.</p>
              <p style="margin-top:20px;">Au programme cette année, sept évènements principaux :</p>
              <ul style="margin-top:20px;">
                <li><span style="color: #CD88CE;">Atelier Game Jam</span>, soirée atelier de présentation du concept de Game Jam, marathon de création de jeux vidéo, et test de jeux créés lors d’une précédente Game Jam, en lien avec le festival du film fantastique.</li>
                <li><span style="color: #F77AF9;">Startup Stories</span>, à la manière de veillées, les créateurs de Startups alsaciennes conteront leur parcours, leurs succès et leurs échecs.</li>
                <li><span style="color: #F2A73D;">Edgenight</span>, l’immanquable soirée électro, mapping et performances musicales au programme, une soirée à la Plage sur le sable devant la Médiathèque !</li>
                <li><span style="color: #E8DA3D;">Maker Day</span>, évènement consacré à des workshops originaux ; fabrication de bateaux télécommandés, pilotage de crazyflies et atelier AV Lab.</li>
                <li><span style="color: #26A3E1;">Demo Day</span>, journée de démonstration-test, avec des innovations présentées pour le Millénaire de la Cathédrale.</li>
                <li><span style="color: #52D768;">Kinojam</span>, journée “booste ton projet” audiovisuel, transmédia en partenariat avec la Safire et l’agence culturelle d’Alsace.</li>
                <li><span style="color: #BA1F5B;">Exposition “Espaces Sonores”</span>, autour de la place du numérique dans la musique actuelle, en lien avec le festival mondial du saxophone : “SaxOpen”.</li>
              </ul>
              <p style="margin-top:20px;">Comme chaque année, <strong>tous les évènements sont ouverts à tous publics et gratuits</strong>.</p>
              <p style="margin-top:20px;">C’est aussi le moment de (re)découvrir les coworkers de la Plage Digitale et leur travail, dans une ambiance conviviale et détendue, et d’en savoir plus sur le milieu des startups Strasbourgeoises et ce qu’elles projettent.</p>
              <p>Les évènements ont lieu sur la Plage <strong>devant la Médiathèque André Malraux, à l’UGC, au Shadok...</strong></p>
            </div>
            <div class="col-xs-12">
              <p style="margin-top:20px;"><em>Alsace Digitale est une association qui vise à faciliter l'émergence de projets innovants dans le domaine de l'économie numérique.<a href="http://www.alsacedigitale.org/"> Découvrir les pionniers de l'inévitable !</a></em></p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <iframe width="560" height="315" src="//www.youtube.com/embed/eAApaqGledM" frameborder="0"
                        allowfullscreen style="margin-top:40px;"></iframe>
            </div>
        </div>
    </div>
</section>
