<section class="index eventbox intro" id="index" data-title="{{ page.title }}" data-image="{{ page.facebook_image }}" data-description="{{ page.facebook_description }}">
  <div class="container">
    <!--<div class="row" style="background-color: #9dbccc; margin-top: 20px; padding: 20px">
        <div class="col-xs-12">
            <div class="pull-left" style="margin-right: 20px;"><a target="_blank" href="/appel-a-benevoles-edgefest-2016.pdf"><img src="/img/appelabenevoles.png" alt="Appel à bénévoles" /></a></div>
            <p><b>Appel à bénévoles</b></p>
            <p>Le succès du festival EdgeFest dépend de l'appui de ses bénévoles, nous comptons sur vous !</p>
            <p><a class="btn btn-default" style="text-decoration: none" target="_blank" href="/appel-a-benevoles-edgefest-2016.pdf">Consulter l'appel à bénévoles</a></p>
        </div>
    </div>-->
    <!--<div class="row" style="background-color: #c98e76; margin-top: 20px; padding: 20px;">
        <div class="col-xs-12 ">
          <iframe style="float: left; margin-right: 20px; width: 180px;" class="news-responsive" src="//giphy.com/embed/3o6ZsWqkLZY06a5rbO?html5=true" width="180" height="90" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            <p style="margin-top: 5px;"><strong>EdgeFest 2017 c'est déjà fini !</strong></p>
            <p>Merci à tous pour le succès de cette sixième édition, retrouvez bientôt toutes les photos sur <a style="color: #eed7ce;" href="https://www.facebook.com/EdgeFestStrasbourg/" target="_blank">la page Facebook</a><a style="color: white;" href="https://www.facebook.com/EdgeFestStrasbourg/photos/?tab=album&album_id=690051467800158" target="_blank">l'album Facebook</a> !</p>
            <p>Suivez l'actualité d'Alsace Digitale sur <a style="color: #eed7ce" href="https://www.facebook.com/alsace.digitale" target="_blank">Facebook</a> et <a style="color: #eed7ce;" href="https://twitter.com/AlsaceDigitale" target="_blank">Twitter</a></p>
        </div>
    </div>-->
    <div class="row" style="margin: 20px 0; padding: 20px">
      <div class="col-md-8 col-md-offset-2">
        <p style="margin-top:20px;">
          <strong>EdgeFest</strong>, le festival des communautés numériques et créatives est de retour pour sa 7<sup>ème</sup> édition !
        </p>
        <!--<p style="margin-top:20px;">
          <em><strong>“EDGE”</strong></em>, pour la bordure, l’espace de créativité qui fait de ce festival un évènement unique.
          <br><em><strong>“FEST”</strong></em>, de “festival”, la fête de l’innovation et du numérique, de l’été et de la Plage.
        </p>-->
        
        <p>Jeunes ou moins jeunes, inventeurs du dimanche ou amateurs de nouvelles technologies, startupers accomplis ou grands rêveurs,  retrouvons nous tous pour faire rayonner Strasbourg en ce début d’été. Quoi de mieux que de déambuler entre les robots et les animations au bord de l’eau ? C’est ça, la formidable aventure Edgefest : une invitation aux rencontres, à la réflexion, à la découverte et à la fête; une ôde à la créativité !</p>
        <p>Faisons de la Presqu’île Malraux le temps de deux semaines le théâtre de nos inventions. En quelques jours devenons des développeurs en herbe, des bidouilleurs audacieux, des penseurs du monde de demain. Et qui de mieux que des startupers, génies du code et artistes de tous horizons afin de faire vivre ce festival ? Embarquez dans cette expérience particulière et unique dans la région !</p>
        <!--<p>Pour finir en beauté, EdgeNight clôturera les festivités avec une projection murale sur les notes d’un DJ set envoûtant.</p>
        <p>Alors embarquez dans cette expérience particulière et unique dans la région !</p>-->
        <!--<p>Organisé par l'association <a href="http://www.alsacedigitale.org/" target="_blank">Alsace Digitale</a></p>-->
        <!--<p style="margin-top:20px;"> <strong>Ce festival est organisé par l'équipe de bénévoles d'Alsace Digitale : <a href="equipe.html">Découvrez l'équipe !</a></strong></p>
        <p style="margin-top:20px;"> <strong>Cet événement est ouvert gratuitement à tout publics (sauf indication pour certains ateliers).</strong></p>-->
      </div>
      <!--<div class="col-md-4" style="padding-top: 20px;">
        <iframe width="640" height="360" src="https://www.youtube.com/embed/OaBI_3cDHvo" frameborder="0" allowfullscreen style="margin-top:0px; max-width: 100%;"></iframe>

      </div>-->
      <!--<div class="col-md-7">
        <iframe width="640" height="360" src="https://www.youtube.com/embed/n8wg2NmOJj8" frameborder="0" allowfullscreen style="margin-top:0px; max-width: 100%;"></iframe>
        <p><strong> AU PROGRAMME CETTE ANNEE, SEPT EVENEMENTS PRINCIPAUX : </strong></p>
        <ul style="margin-top:20px;">
          <li><a class="color-gamejam"href="/gamejam.html" >Atelier Game Jam</a>, soirée atelier de présentation du concept de Game Jam, marathon de création de jeux vidéo, et test de jeux créés lors d’une précédente Game Jam, en lien avec le festival du film fantastique.</li>
          <li><a class="color-startupstories" href="/startupstories.html" >Startup Stories</a>, à la manière de veillées, les créateurs de Startups alsaciennes conteront leur parcours, leurs succès et leurs échecs.</li>
          <li><a class="color-edgenight" href="/edgenight.html" >Edgenight</a>, l’immanquable soirée électro, mapping et performances musicales au programme, une soirée à la Plage sur le sable devant la Médiathèque !</li>
          <li><a class="color-edgeday" href="/edgeday.html" >Maker Day</a>, évènement consacré à des workshops originaux ; fabrication de bateaux télécommandés, pilotage de crazyflies <br> et atelier AV Lab.</li>
          <li><a class="color-edgeday" href="/edgeday.html" >Demo Day</a>, journée de démonstration-test, avec des innovations présentées pour le Millénaire de la Cathédrale.</li>
          <li><a class="color-kinojam" href="/kinojam.html" >Kinojam</a>, journée “booste ton projet” audiovisuel, transmédia en partenariat avec la Safire et l’agence culturelle d’Alsace.</li>
          <li><a class="color-espacessonores" href="/espacessonores.html" >Exposition “Espaces Sonores”</a>, autour de la place du numérique dans la musique actuelle, en lien avec le festival mondial <br> du saxophone : “SaxOpen”.</li>
        </ul>
      </div>-->
    </div>
    <!--<div class="row">
      <div class="col-xs-12 text-center">
        <p style="margin-top:20px;">C’est aussi le moment de (re)découvrir les coworkers de la Plage Digitale et leur travail, dans une ambiance conviviale et détendue, et d’en savoir plus sur le milieu des startups Strasbourgeoises et ce qu’elles projettent.</p>
        <p>Les évènements ont lieu sur la Plage devant la Médiathèque André Malraux, à l’UGC, au Shadok...</p>
        <p style="margin-top:20px;"><em>Alsace Digitale est une association qui vise à faciliter l'émergence de projets innovants dans le domaine de l'économie numérique.<a href="http://www.alsacedigitale.org/" style="text-decoration : none"> Découvrir les pionniers de l'inévitable !</a></em></p>
      </div>
    </div>-->
  </div>
</section>
