<section class="shadok" id="shadok">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Matériauthèque</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <p class="date">Date : Le 6 juillet de 14h à 18h et les 7, 8 et 9 juillet de 14h à 19h</p>
        <p class="venue">Lieu : Shadok</p>
        <p class="type">Événement gratuit</p>
        <p class="concept">
          La Matériauthèque s'installe au <a href="http://www.shadok.strasbourg.eu/" target="_blank">Shadok</a> dans le cadre d'un partenariat avec AV.Lab et l'Innovathèque. L’Innovathèque, c’est d’abord une base de données physique et numérique, la matériauthèque, qui référence plus de <strong>2000 matériaux, process et systèmes innovants</strong>
        </p>
        <p class="concept">
          Ce centre de ressources a pour objectif premier de faire connaître les innovations aux entreprises pour leur permettre de s’ouvrir à d’autres matériaux et à détourner leurs usages. En second lieu, il a pour vocation de faire découvrir aux prescripteurs des savoir-faire rares ou innovants, et pour lesquels certains métiers d’art peuvent être référencés, ce qui peut potentiellement offrir à certains d’entre vous des perspectives pour de nouveaux marchés.
        </p>
        <p class="concept">
          <i class="fa fa-info-circle"></i> &nbsp;Une visite groupée de la matériauthèque aura lieu avant l'événement <a href="/startupstories.html">Startup Stories</a> le 6 juillet de 18h à 19h.
        </p>
        <div class="thumbnail" style="margin-top: 25px;">
          <img src="/img/innovatheque.png" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="/img/materiauteque.jpg" />
        </div>
      </div>
    </div>
  </div>
</section>
