<section class="espacessonores" id="espacessonores">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Matériautèque</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <p class="date">Date : Du 18 Mai au 16 Juillet 2016</p>
        <p class="venue">Lieu : Shadok</p>
        <p class="type">Événement gratuit</p>
        <p class="concept">
          Description à venir
        </p>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="/img/materiauteque.jpg" />
        </div>
      </div>
    </div>
  </div>
</section>
