<section class="nav thin">
    <nav>
      <ul class="nav-list clearfix">
        <li><a href="/edgeday.html">Edge Day</a></li>
        <li><a href="/startupstories.html">Startup Stories</a></li>
        <li><a href="/kinojam.html">Kino Jam</a></li>
        <li><a href="/espacessonores.html">Espaces Sonores</a></li>
        <li><a href="/edgenight.html">Edge Night</a></li>
        <li><a href="/gamejam.html">Game Jam</a></li>
        <li><a href="/summercamp.html">Summer Camp</a></li>
        <li><a href="/straliensmillenium.html">Straliens Millenium</a></li>
      </ul>
    </nav>
</section>
