<section class="nav thin">
    <nav>
      <ul class="nav-list clearfix">
        <!--<li style="color: white; font-weight: bold; width: 100%; text-align: center;">Le programme arrive bientôt !</li>-->
        <li><a href="/avenirnumerique.html">Avenir Numérique</a></li>
        <li><a href="/summercamp.html">Play2Code</a></li>
        <li><a href="/startupstories.html">Startup Stories</a></li>
        <li><a href="/hacksxb.html">HackSXB</a></li>
        <li><a href="/fablab.html">FabLab</a></li>
        <li><a href="/digitalforum.html">Digital Society</a></li>
        <li><a href="/webstarter.html">WebStar'ter</a></li>
        <li><a href="/demonight.html">Démo Night</a></li>        
        <li><a href="/apero.html">Apéro</a></li>
        <li><a href="/edgenight.html">Edge Night</a></li>
      </ul>
    </nav>
</section>
