<section class="nav thin">
    <nav>
      <ul class="nav-list clearfix">
        <li><a href="/edgeday.html#edgeday">Edge Day</a></li>
        <li><a href="/startupstories.html#startupstories">Startup Stories</a></li>
        <li><a href="/kinojam.html#kinojam">Kino Jam</a></li>
        <li><a href="/edgenight.html#edgenight">Edge Night</a></li>
        <li><a href="/gamejam.html#hackathon">Game Jam</a></li>
        <li><a href="/summercamp.html#summercamp">Summer Camp</a></li>
        <li><a href="/straliensmillenium.html#straliensmillenium">Straliens Millenium</a></li>
      </ul>
    </nav>
</section>
