<section class="digitalforum eventbox" id="Photobooth">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Photobooth 360°</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <p class="date">Date : Mercredi 4, Jeudi 5 et Vendredi 6 juillet de 18h à 00h</p>
        <p class="venue">Lieu : La Manufakture (7a Rue de la Krutenau)</p>
        <p class="type">Événement gratuit, entrée libre.</p>
        <p class="concept">
          Venez découvrir l’animation photo 360° (effet Matrix) de notre partenaire Orange, sur le site de la Manufakture  !<br><br>A la sortie de cet expérience de réalité virtuelle, les invités se mettent en scène et se font photographier avec une série d’appareils photo qui se déclenchent en synchronisation mais dans différents angles.<br><br>Les différentes photos sont compilées en fichier mp4/gif et mis à disposition sur des tablettes pour le partage sur réseaux sociaux et mail
        </p>
      </div>
      <div class="col-md-4">
        <img class="thumbnail" style="max-width: 100%" src="img/photobooth.gif" alt="">
        <div class="thumbnail">
          <img src="img/logos/thumb/orange.png" />
        </div>
      </div>
    </div>
  </div>
</section>
