<div class="row">
  <div class="col-xs-12">
    <h2 id="planning" style="margin-bottom:10px;">Planning Général</h2>
    <p>
      Tous les événements sont <strong>gratuits</strong>!
      <br/>
      Certains événements sont sur inscription (dans la limite des places disponibles)
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-5">
    <h3>Jeu 3</h3>
    {% include day1.html %}
  </div>
  <div class="col-md-4">
    <h3>Ven 4</h3>
    {% include day2.html %}
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <h3>Sam 5</h3>
    {% include day3.html %}
  </div>
  <div class="col-md-4">
    <h3>Dim 6</h3>
    {% include day4.html %}
  </div>
</div>
