<section class="eventbox postcard" id="postcard" data-title="{{ page.title }}" data-image="{{ page.facebook_image }}" data-description="{{ page.facebook_description }}">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>A Postcard From Open Space</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <p class="date">Date : Mercredi 27 juin (<i>Horaires à confirmer</i>)</p>
        <p class="venue">Lieu : La Plage Digitale (15 avenue du Rhin)</p>
        <p class="type">Sur inscription <i style="font-weight: normal;">(La billeterie arrive bientôt)</i></p>
        <p class="concept">Le coworking version télé-réalité, c’est maintenant chose faite. Durant cet événement organisé par la Haute école des arts du Rhin, 5 spectateurs seront en immersion dans l’espace de coworking de La Plage Digitale. Equipés d’un ordinateur, d’une webcam et d’un casque audio, nos participants démarreront leur aventure après un appel Skype qui lancera une mystérieuse vidéo-conférence. En les suivant dans cet étrange scénario, vous plongerez dans le monde du coworking strasbourgeois de façon fun et originale.</p>
        <div class="row">
          <!--<div class="col-md-6">
            <div class="thumbnail" style="margin-top: 25px; min-height: 150px;">
              <img src="/img/logos/orig/entrepreneursalsace.png" style="margin-top: 38px;" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="thumbnail" style="margin-top: 25px; min-height: 150px;">
              <img src="/img/gen.png" style="margin-top: 14px;" />
            </div>
          </div>-->
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="/img/postcard.jpg" />
        </div>
      </div>
    </div>
  </div>
</section>
