<section class="eventbox postcard" id="postcard" data-title="{{ page.title }}" data-image="{{ page.facebook_image }}" data-description="{{ page.facebook_description }}">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Postcard From Open Space</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <p class="date">Date : Jeudi 28 juin (<i>Horaires à confirmer</i>)</p>
        <p class="venue">Lieu : La Plage Digitale (15 avenue du Rhin)</p>
        <p class="type">Sur inscription <i style="font-weight: normal;">(La billeterie arrive bientôt)</i></p>
        <p class="concept">Lorsque les agences spatiales se préparent pour envoyer l'homme dans la conquête d'autres mondes, il nous reste savoir si toutes les modes de vie sur terre ont déjà été exloré. Postcard from open space est une performance relationnelle qui, au croisement d’histoires personnelles et quotidiennes, imagine une autre planète et développe un autre champ des possibles.</p>
        <div class="row">
          <!--<div class="col-md-6">
            <div class="thumbnail" style="margin-top: 25px; min-height: 150px;">
              <img src="/img/logos/orig/entrepreneursalsace.png" style="margin-top: 38px;" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="thumbnail" style="margin-top: 25px; min-height: 150px;">
              <img src="/img/gen.png" style="margin-top: 14px;" />
            </div>
          </div>-->
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="/img/postcard.jpg" />
        </div>
      </div>
    </div>
  </div>
</section>
