<section class="eventbox rmll" id="rmll" data-title="{{ page.title }}" data-image="{{ page.facebook_image }}" data-description="{{ page.facebook_description }}">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Une journée aux RMLL</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <p class="date">Date : 7 juillet de 10h à 18h</p>
        <p class="venue">Lieu : Presqu'île Malraux</p>
        <p class="type">Entrée libre</i></p>
        <p class="concept">EdgeFest s'invite aux rencontres mondiales du logiciel libre (RMLL) !</p>
        <p class="concept">Les RMLL proposent pour l'ouverture de leur semaine de rencontres un village des association. Au programme : des conférences, débats, ateliers et rencontres autour des logiciels libres et de leur place dans la société, le tout dans une atmosphère conviviale. Ces rencontres sont ouvertes aux professionnels, institutionnels, contributeurs, utilisateurs passionnés, ou simples curieux. L'occasion idéale pour une rencontre entre développeurs et associations, afin de parler de leurs travaux respectifs, de partager leurs connaissances et d’échanger avec les utilisateurs.</p>
        <p class="concept">Pour en savoir plus sur les rencontres mondiales du logiciel libre : <a href="https://2018.rmll.info/fr" target="_blank">https://2018.rmll.info/fr</a></p>
        <div class="row">
          <!--<div class="col-md-6">
            <div class="thumbnail" style="margin-top: 25px; min-height: 150px;">
              <img src="/img/logos/orig/entrepreneursalsace.png" style="margin-top: 38px;" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="thumbnail" style="margin-top: 25px; min-height: 150px;">
              <img src="/img/gen.png" style="margin-top: 14px;" />
            </div>
          </div>-->
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="/img/rmll-banner.png" />
        </div><!--
        <div class="thumbnail">
          <img src="/img/logos/orig/apero.png" style="width: 195px;" />
        </div>-->
      </div>
    </div>
  </div>
</section>
