<section class="shadok" id="shadok">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Visite du Shadok</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <p class="date">Date : Vendredi 4, samedi 5 juillet, à 10h et 10h40</p>
        <p class="type">Événement gratuit (nb de places limité). Inscription: <a href="mailto:contact.shadok@strasbourg.eu">contact.shadok@strasbourg.eu</a></p>
        <p class="concept">
           <img src="/img/shadok_3d_small.jpg" alt="© ICADE ET DEVISUBOX"/>
            © ICADE ET DEVISUBOX
        </p>
        <p class="concept">
            Le Shadok avance et ouvrira ses portes en janvier 2015. Le Shadok est avant tout une communauté regroupant
            des structures, lieux et individus actifs qui après une saison hors-les-murs s'installeront ensemble dans
            le pôle Seegmuller ré-habilité. Pour Edgefest, le Shadok, co-organisateur de la manifestation ouvre ses
            portes pour 4 visites guidées. Attention nombre de places limité.
        </p>
      </div>

  </div>
</section>
