<section class="soireeshacom" id="soireeshacom">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Soirée Sha'com / Safire avec DJ Topic</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7" style="margin-bottom: 35px;">
        <p class="date">Date : Samedi 4 juillet, de 20h à 1h</p>
        <p class="venue">Lieux : Sha'com - 25 Presqu’île André Malraux</p>
        <p class="type">Événement gratuit, entrée libre. <a href="https://www.facebook.com/events/125671024432802/">Indiquez votre présence sur l'événement Facebook !</a></p>
        <p class="concept">
          Après un programme musclé avec les étoiles montantes de la scène rap strasbourgeoise, "drugstore Pose ton Flow" et la projection de "mythologies du rap", DJ Topic offrira ses sets électro, hip-hop ou dubstep. Un dialogue énergique pour un Fest décalé.
        </p>
        <p class="text-center" style="margin-top: 50px;">
          <img src="/img/logos/orig/shacom-oresto.png" alt="logo shacom" width="150" />
        </p>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-xs-12">
            <div class="thumbnail">
               <img src="img/soireeshacom.jpg" />
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
