<section class="eventbox soireediy" id="soireediy" data-title="{{ page.title }}" data-image="{{ page.facebook_image }}" data-description="{{ page.facebook_description }}">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Soirée DIY</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7" style="margin-bottom: 35px;">
        <p class="date">Date : Vendredi 29 juin de 16h à 22h</p>
        <p class="venue">Lieu : La Manufakture (7a Rue de la Krutenau)</p>
        <p class="type">Événement gratuit. <i style="font-weight: normal;">(Certains ateliers seront soumis à inscription)</i></p>
        <p class="concept">
          Plusieurs acteurs du milieu de makers strasbourgois se réunissent pour vos proposer des ateliers "Do It Yourself", le tout dans une ambiance festive. Il va falloir mettre la main à la pâte mais on vous promet, ça vaut le coup ! <br><br>
        </p>
        <h4>À PARTIR DE 16H</h4>
        <p>
          <strong style="text-decoration: underline;">Arduino avec Play2Code</strong> - Atelier gratuit sans inscription<br>
          Apprenez à programmer avec une carte électronique Arduino !<br><br>
          <strong style="text-decoration: underline;">Assemblage de robot avec Orange</strong> - Atelier gratuit sans inscription<br>
          Venez vous essayer à la robotique en assemblant vous même un petit <strong>robot</strong><br><br>
          <strong style="text-decoration: underline;">Atelier modélisme par La Fabrique</strong> - Atelier gratuit sans inscription<br>
          De 16h à 19h, venez faire votre propre planeur en balsa<br><br>
          <strong style="text-decoration: underline;">Atelier soudure par La Fabrique</strong> - Atelier gratuit sans inscription<br>
          De 16h à 19h, Apprenez à souder le métal<br><br>
          <strong style="text-decoration: underline;">Atelier dynamo par La Fabrique</strong> - Atelier gratuit, places limitées, inscription sur place<br>
          De 16h à 19h, installe un chargeur de portable dynamo sur ton vélo<br><br>
          <strong style="text-decoration: underline;">SardineBox</strong> - Atelier gratuit <strong>sur inscription</strong> : <a href="https://www.eventbrite.fr/e/billets-atelier-sardine-box-le-synthe-en-boite-de-conserve-47254151439" target="_blank">billetterie Eventbrite</a><br>
          En sons et en musique, découvrez la Sardine Box, une initiation à l'électronique et à la programmation Arduino. 6 ateliers de 45 mn, 12 personnes maximum par ateliers, pour les personnes de 9 à 99 ans.<br><br>
        </p>
        <h4>À PARTIR DE 18H</h4>
        <p>
          <strong style="text-decoration: underline;">Démonstration d'une forge par La Fabrique</strong><br><br>
        </p>
        <h4>À PARTIR DE 19H</h4>
        <p>
          <strong style="text-decoration: underline;">HackSXB</strong><br>
          La communauté de makers et développeurs HackSXB se réunit tous les derniers vendredi du mois. Rejoignez-les le temps d'une soirée pour vous initier aux geekeries les plus improbables.<br><br>
          <strong style="text-decoration: underline;">Atelier filage par La Fabrique</strong> - Atelier gratuit sans inscription<br>
          Découvre comment produire ton propre fil !<br><br>
        </p>
        <h4>À PARTIR DE 20h30</h4>
        <p>          
          La Fabrique invite le groupe de hip hop electro <strong>Strass et paress</strong>
        </p>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-xs-12">          
            <iframe width="560" height="315" src="https://www.youtube.com/embed/0KyiXWpvuNA" frameborder="0" allowfullscreen class="thumbnail"></iframe>
            <!--<div class="thumbnail">
               <img src="img/dessine-moi-le-vent.jpg" />
            </div>
            <div class="thumbnail">
               <img src="img/makerday1.jpg" />
            </div>
            <div class="thumbnail">
               <img src="img/makerday2.jpg" />
            </div>-->
            <div class="thumbnail">
               <img src="img/makerday3.jpg" />
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
