<section class="startupstories" id="startupstories">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Startup Stories</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <p class="date">Date : Mercredi 6 juillet de 19h à 22h</p>
        <p class="venue">Lieu : UGC</p>
        <p class="type">Événement gratuit sur inscription. <a href="https://www.eventbrite.fr/e/billets-startup-stories-3-25901311520">Participez ici !</a></p>
        <p class="concept">
        La soirée Startup Stories propose au grand public une sélection d’histoires de startups.
        Leur univers impitoyable, leurs défis passionnants, leurs rêves irréalistes n’auront plus de secret.
        Une fois, ils se sont lancés suivant leur idée... Lors de cette animation, étudiants, jeunes
        entrepreneurs et tout public seront invités à échanger et à confronter leurs réalités.
        </p>
        <p class="concept">
          <i class="fa fa-info-circle"></i> &nbsp;Une visite groupée de la <a href="/materiauteque.html">matériauthèque</a>, au Shadok, aura lieu avant l'événement Startup Stories le 6 juillet de 18h à 19h. <a href="https://www.eventbrite.fr/e/billets-materiautheque-26051300140
">Inscription ici</a>.
        </p>
        <!--<p class="concept">
        En-cas prévu.
        </p>-->
        <!--<p  class ="concept" >
          Animations:
          <ul>
            <li>Rencontre de créateurs de startups, libre discussion, échanges d’idées, conseils, aide au développement, qu’est ce qu’une startup ? etc…</li>
            <li>Retours sur les événements Démonight, HackingHealthCamp, ou encore au cours de la GeekOnAFarm </li>
          </ul>
        </p>-->
        <h3>Liste des startups</h3>
        <table class="table table-bordered startups">
          <thead>
            <tr>
              <th>Startup</th>
              <th>Site web</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Scoledge</td>
              <td><a href="https://www.scoledge.com/" target="_blank">www.scoledge.com</a></td>
            </tr>
            <tr>
              <td>Strataggem</td>
              <td><a href="http://www.strataggem.com/" target="_blank">www.strataggem.com</a></td>
            </tr>
            <tr>
              <td>Emy</td>
              <td><a href="http://www.get-emy.com/" target="_blank">www.get-emy.com</a></td>
            </tr>
            <tr>
              <td>PhysioCheck</td>
              <td><a href="http://physiocheck.eu/" target="_blank">physiocheck.eu</a></td>
            </tr>
            <tr>
              <td>Facilien</td>
              <td><a href="http://facilien.fr/" target="_blank">facilien.fr</a></td>
            </tr>
            <tr>
              <td>Samocat</td>
              <td><a href="http://samocat.fr/" target="_blank">samocat.fr</a></td>
            </tr>
            <tr>              
              <td>Scalingo</td>
              <td><a href="https://scalingo.com/" target="_blank">scalingo.com</a></td>
            </tr>
            <tr>              
              <td>Greenberry</td>
              <td><a href="http://greenberry.io/" target="_blank">greenberry.io</a></td>
            </tr>
            <tr>              
              <td>C3CN</td>
              <td><a href="http://c3n.fr/" target="_blank">c3n.fr</a></td>
            </tr>
          </tbody>
        </table><br>
        <div class="thumbnail" style="margin-top: 25px;">          
          <a href="http://www.strasbourg-startups.com/" target="_blank"><img src="/img/strasbourgstartups.png" alt="logo strasbourg startups" /></a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
           <a href="img/startupstories2.jpg"><img src="img/startupstories2.jpg" /></a>
        </div>
        <div class="thumbnail">
          <a href="img/startupstories3.jpg"><img src="img/startupstories3.jpg" /></a>
        </div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/s7phUqHeXNc" frameborder="0" allowfullscreen class="thumbnail"></iframe>
      </div>
    </div>
  </div>
</section>
