<section class="startupstories" id="startupstories">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Startup Stories</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <p class="date">Date : Samedi 5 juillet, de 20h à 23h</p>
        <p class="venue">Lieu : Plage devant la Médiathèque André Malraux 1 Presqu'île Malraux, Strasbourg - Repli au Cinéma UGC en cas de pluie </p>
        <p class="type">Événement gratuit sur pré-inscription. <a href="http://www.eventbrite.fr/e/billets-startup-stories-11955943549">Pré-inscription ici !</a></p>
        <p class="concept">
        La soirée Startup Story propose au grand public une sélection d’histoires de startups.
        Leur univers impitoyable, leurs défis passionnants, leurs rêves irréalistes n’auront plus de secret.
        Une fois, ils se sont lancés suivant leur idée... Lors de cette animation, étudiants, jeunes
        entrepreneurs et tout public seront invités à échanger et à confronter leurs réalités.
        </p>
        <p class="concept">
        En-cas prévu.
        </p>
        <p  class ="concept" >
          Animations:
          <ul>
            <li>Rencontre de créateurs de startups, libre discussion, échanges d’idées, conseils, aide au développement, qu’est ce qu’une startup ? etc…</li>
            <li>Retours sur les événements Démonight, DigitalHealthCamp, ou encore au cours de la GeekOnAFarm </li>
          </ul>
        </p>
        <h2>
          Liste des startups
        </h2>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Entrepreneur</th>
              <th>Startup</th>
              <th>Site web</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Héloise Chalvignac</td>
              <td>Pur Etc</td>
              <td><a href="http://www.pur-etc.fr/">www.pur-etc.fr/</a></td>
            </tr>
            <tr>
              <td>Stephane Becker</td>
              <td>Method In The Madness</td>
              <td><a href="http://www.methodinthemadness.eu/">www.methodinthemadness.eu/</a></td>
            </tr>
            <tr>
              <td>Rémy Perla</td>
              <td>Reve aux Lettres</td>
              <td><a href="http://reveauxlettres.fr/">reveauxlettres.fr/</a></td>
            </tr>
            <tr>
              <td>Sébastien Letélié</td>
              <td>Lifealth</td>
              <td><a href="http://www.lifealth.com/">www.lifealth.com/</a></td>
            </tr>
            <tr>
              <td>Grégory Massa</td>
              <td>MonProchainJob</td>
              <td><a href="http://www.monprochainjob.com/">www.monprochainjob.com/</a></td>
            </tr>
            <tr>
              <td>Laura Fort</td>
              <td>Studio Pixmix</td>
              <td><a href="http://studiopixmix.com/">studiopixmix.com/</a></td>
            </tr>
            <tr>
              <td>Fabien Carraro</td>
              <td>MyBusyMeal</td>
              <td><a href="http://www.mybusymeal.com/">www.mybusymeal.com/</a></td>
            </tr>
            <tr>
              <td>Sylvain Courroux</td>
              <td>GoyaPhone</td>
              <td><a href="http://goyaphone.eu/">goyaphone.eu/</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class = "col-xs-6">
        <div class="row">
          <div class="col-xs-4">
          <div class="thumbnail">
             <img src="img/startup_stories_small.jpg"/>
          </div>
          </div>
      </div>
  </div>
</section>
