<section class="eventbox startupstories" id="startupstories" data-title="{{ page.title }}" data-image="{{ page.facebook_image }}" data-description="{{ page.facebook_description }}">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Startup Stories</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <p class="date">Date : Jeudi 05 juillet de 19h à 22h</p>
        <p class="venue">Lieu : UGC</p>
        <p class="type">Événement gratuit sur inscription. <a target="_blank" href="https://www.eventbrite.fr/e/billets-startup-stories-edgefest-2018-46707522457">Participez ici !</a></p>
        <p class="concept">
          Startup Stories c'est le rendez-vous vous à ne pas manquer ! Un moment de partage et d’intimité pendant lequel vous pourrez vous régaler des récits de success stories des startups présentes. Laissez-vous guider et inspirer par ces professionnels qui vous emmènent au coeur du monde de l’entrepreneuriat et découvrez avec eux quels obstacles ils ont dû franchir, comment s’organise leur quotidien, quels sont leurs rêves…
        </p>
        <p class="concept">
          La soirée se finira par un buffet convivial.
        </p>
        <p class="concept" style="margin-top: 20px;">
          Voici les startups participantes :
        </p>
        <ul style="margin-bottom: 30px;">
          <li>
           <p><strong><a href="https://kwit.fr/" target="_blank">Kwit</a></strong><em> : L'application mobile qui vous aide à arrêter de fumer pour de bon.</em></p>
          </li>
          <li>
            <p><strong><a href="https://www.ar24.fr/" target="_blank">AR24</a></strong><em> : Un service de recommandés électroniques innovant, conformes à la réglementation européenne eIDAS et ultra-sécurisé.</em></p>
          </li>
          <li>
            <p><strong><a href="http://www.archi-material.com/" target="_blank">Archimaterial</a></strong><em> : Le catalogue numérique des produits de la construction.</em></p>
          </li>
          <li>
            <p><strong><a href="https://www.myquintus.com/fr/" target="_blank">MyQuintus</a></strong><em> : Une collection unique de têtes et de pieds de lit confortables et faciles à installer, signée par des artistes talentueux.</em></p>
          </li>
          <li>
            <p><strong><a href="https://transchain.io/" target="_blank">Transchain</a></strong><em> : Plateforme Blockchain pour l'ensemble des acteurs de la Supply Chain.</em></p>
          </li>
          <li>
            <p><strong><a href="https://www.linkedin.com/company/woodlight-sas/" target="_blank">Woodlight</a></strong><em> : Rendre les villes plus vertes en répondant à leurs problèmes de pollution, de manque de verdure et de forte consommation en énergie.</em></p>
          </li>
          <li>
            <p><strong><a href="https://www.insimo.fr" target="_blank">InSimo</a></strong><em> : Conception de logiciels hyper-réalistes et interactifs pour la simulation médicale.</em></p>
          </li>
        </ul>
        <!--
          Kwit
AR24
Archimaterial
My quintus 
Transchain
Woodlight
Insimo-->
        <!--<h3>Liste des startups participantes :</h3>
        <table class="table table-bordered startups">
          <thead>
            <tr>
              <th>Startup</th>
              <th>Site web</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                Stibidik
              </td>
              <td>
                <a href="https://www.stibidik.fr/" target="_blank">www.stibidik.fr</a>
              </td>
            </tr>
            <tr>
              <td>
                Bikerr
              </td>
              <td>
                <a href="https://www.bikerr.fr/" target="_blank">www.bikerr.fr</a>
              </td>
            </tr>
            <tr>
              <td>
                Awaken
              </td>
              <td>
                <a href="http://awaken.fr/" target="_blank">awaken.fr</a>
              </td>
            </tr>
            <tr>
              <td>
                Proximis
              </td>
              <td>
                <a href="http://www.proximis.com/" target="_blank">www.proximis.com</a>
              </td>
            </tr>
            <tr>
              <td>
                Wine Cluster
              </td>
              <td>
                <a href="https://cluster.wine/" target="_blank">cluster.wine</a>
              </td>
            </tr>
            <tr>
              <td>
                Knot
              </td>
              <td>
                <a href="http://knotcity.com/" target="_blank">knotcity.com</a>
              </td>
            </tr>
            <tr>
              <td>
                Prendsmaplace
              </td>
              <td>
                <a href="https://www.prendsmaplace.fr/" target="_blank">www.prendsmaplace.fr</a>
              </td>
            </tr>
            <tr>
              <td>
                Strataggem
              </td>
              <td>
                <a href="https://www.strataggem.com/" target="_blank">strataggem.com</a>
              </td>
            </tr>
          </tbody>
        </table>-->
        <div class="thumbnail" style="margin-top: 45px; max-width: 250px;">
          <a href="http://www.strasbourg-startups.com/" target="_blank"><img src="/img/strasbourgstartups.png" alt="logo strasbourg startups" /></a>
        </div>
      </div>
      <div class="col-md-4">
        <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/IJ830ApRG5A" frameborder="0" allowfullscreen class="thumbnail"></iframe>-->
        <div class="thumbnail">
           <a href="img/startupstories2.jpg"><img src="img/startupstories2.jpg" /></a>
        </div>
        <div class="thumbnail">
          <a href="img/startupstories3.jpg"><img src="img/startupstories3.jpg" /></a>
        </div>
      </div>
    </div>
  </div>
</section>
