<section class="straliensmillenium" id="straliensmillenium">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>STRALIENS MILLENIUM</h2>
        <p class="date">Date : Du vendredi 3 juillet 18h à Samedi 4 juillet 24h </p>
        <p class="venue">Lieu : Départ du jeu Shadok </p>
        <p class="type">Événement gratuit, participation sur inscription. </p>
        <p class="concept">
           En 2015, mille ans après le début de la construction de la Cathédrale, l'émetteur secret que les Straliens, une race ancienne d'extra-terrestres, avaient enfoui sous Strasbourg, est prêt à fonctionner. Leur plan machiavélique de destruction de la race humaine est sur le point d'aboutir.
Votre mission en tant que terrien est de les empêcher d'activer les sources d'énergie nécessaires pour communiquer avec leur planète mère. Bien sûr, vous pouvez aussi choisir de vous associer avec eux, peut-être vous laisseront-ils une place de choix dans ce nouveau monde...
        </p>
         <p class="concept">
          <ul>
            <li>Inscrivez-vous sur straliens.eu, munissez-vous* d’un smartphone et choisissez un camp ! *des smartphones seront disponibles </li>
            <li>Une fois inscrit, une newsletter vous sera envoyée pour vous expliquer les modalités du jeu.</li>
            <li>Vous pourrez aussi vous inscrire sur place le 04 et le 05 juillet au Shadok.</li>
          </ul>
        </p>
        <strong>Le Site du jeu </strong><a href="http://straliens.eu/">Straliens Millenium</a>
      </div>
      <div class="col-md-4">
        <div style="margin-top: 50px;" class="text-center">
          <a href="http://straliens.eu/"><img src="/img/straliensmillenium.png" alt="logo straliens millneium" style="max-width: 100%"/></a>
        </div>
      </div>
    </div>
  </div>
</section>
