<section class="straliensmillenium" id="straliensmillenium">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>STRALIENS MILLENIUM - Jeu Interactif</h2>
        <p class="date">Date : Du vendredi 3 juillet 18h à Samedi 4 juillet 24h </p>
        <p class="venue">Lieu : Départ du jeu Shadok </p>
        <p class="type">Jeu gratuit, participation sur <a href="http://straliens.eu/">http://straliens.eu/</a>.</p>
        <p>
           En 2015, mille ans après le début de la construction de la Cathédrale, l'émetteur secret que les Straliens, une race ancienne d'extra-terrestres, avaient enfoui sous Strasbourg, est prêt à fonctionner. Leur plan machiavélique de destruction de la race humaine est sur le point d'aboutir.
Votre mission en tant que terrien est de les empêcher d'activer les sources d'énergie nécessaires pour communiquer avec leur planète mère. Bien sûr, vous pouvez aussi choisir de vous associer avec eux, peut-être vous laisseront-ils une place de choix dans ce nouveau monde...
        </p>
         <p class="concept">
          <strong>Déroulement du jeu</strong>
          <ul>
            <li>Inscrivez-vous sur straliens.eu, munissez-vous* d’un smartphone et choisissez un camp !</li>
            <li>Une fois inscrit, une newsletter vous sera envoyée pour vous expliquer les modalités du jeu.</li>
            <li>Vous pourrez aussi vous inscrire sur place les 03 et 04 juillet au Shadok.</li>
          </ul>
          <em>* des smartphones seront disponibles en prêt </em>
        </p>
        <p class="text-center" style="margin-top: 20px;">
          <a href="http://straliens.eu/"><button class="btn btn-default btn-lg">Découvrez le site du jeu Straliens Millenium</button></a>
        </p>
      </div>
      <div class="col-md-4">
        <div style="margin-top: 50px;" class="text-center">
          <a href="http://straliens.eu/"><img src="/img/straliensmillenium.png" alt="logo straliens millneium" style="max-width: 100%"/></a>
        </div>
      </div>
    </div>
  </div>
</section>
