<section class="summercamp" id="summercamp">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Summer Camp</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p class="date">Date :</p>
        <p class="venue">Lieu :<p>
        <p class="type">Sur inscription uniquement, formulaires disponibles prochainement<p>
        <p class="concept">Le Coding Club Summer Camp est un stage qui permet à des lycéens de s'initier à la programmation. Les ateliers d'apprentissage seront animés par des étudiants d'Epitech et le staff Alsace Digitale.</p>
        <p class="concept">Apprenez à votre rythme et dans une ambiance festive: de nombreuses animations seront proposées tout au long de ce stage!</p>
        </p>
      </div>
    </div>
  </div>
</section>
