<section class="summercamp thin" id="summercamp">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Summer Camp</h2>
      </div>
    </div>
  </div>
</section>
<section id="decouvertessonores" class="summercamp pt-20">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
      </div>
      <div class="col-xs-6"><div class="thumbnail"><img src="/img/summercamp1.jpg" /></div></div>
    </div>
  </div>
</section>
<section id="devoxx4kids" class="summercamp">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Devoxx4Kids</h2>
        <h3>Venez nous retrouver pour 2 sessions d'apprentissage de programmation tout en s'amusant.
          <br><br>
          10h-12h : pour les enfants de 8 à 12 ans, session de création d'animation et de jeux sur <a href="http://scratch.mit.edu/">Scratch</a>, un logiciel pour apprendre la programmation de manière ludique
          <br><br>
          14h-17h : pour les enfants de 10 à 16 ans, session de programmation sur <a href="https://minecraft.net/">Minecraft</a>, venez apprendre à créer vos propres mod
        </h3>
        <br>
        <p>Devoxx4Kids est un mouvement international pour favoriser l'apprentissage de la programmation aux enfants, retrouvez toutes les autres initiatives sur <a href="http://www.devoxx4kids.org/">http://www.devoxx4kids.org/</a></p>
      </div>
    </div>
  </div>
</section>
