<section class="summercamp thin" id="summercamp">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h2>Summer Camp</h2>
      </div>
    </div>
  </div>
</section>
<section id="decouvertessonores" class="summercamp pt-20">
  <div class="container">
    <div class="row">
      <div class="span6">
        <h3>
          Atelier découvertes sonores
        </h3>
        <p class="anim">Animé par Hervé Krutchen (LEDLP) et Pauline Desgrandchamp</p>
        <p class="date">Date : Jeudi 4 juillet, de 14h à 18h</p>
        <p class="venue">Lieu : Médiathèque André Malraux, 1 Presqu’île André Malraux 67076 Strasbourg</p>
        <p class="type">Événement gratuit. Inscription par mail à <a href="mailto:contact.seegmuller@strasbourg.eu">contact.seegmuller@strasbourg.eu</a> ou à la médiathèque Malraux sur place. Nombre de place limités, ne tardez pas à vous inscrire !</p>
        <p class="type">Atelier tout public à partir de 9 ans</p>
        <p class="concept">
          Le SummerCamp propose un atelier d’initiation à la captation sonore ouvert à tout public. Venez découvrir le paysage sonore de la presqu’ile Malraux. Les participants devront  tendre l’oreille à la recherche des bruits du quotidien urbain et apprendront dans un second temps à capturer les ambiances sonores in-situ en utilisant différents types de microphones (dynamique, statique, binaural, etc).
        </p>
        <p class="concept">
          Un atelier, mais pas que ! Chaque participant retrouvera ses enregistrements le samedi soir au sein de la performance sonore du collectif Les Enfants de la Pluie durant l’<a href="/edgenight#edgenight">Edge Night</a> (sur les docks Malraux côté Rivétoile, de 19h à 23h30).
        </p>
      </div>
      <div class="span6">
        <ul class="thumbnails">
          <li class="span6">
            <img src="/img/summercamp1.jpg" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="pixilation" class="summercamp pt-20">
  <div class="container">
    <div class="row">
      <div class="span6">
        <h3>
          Atelier Pixilation
        </h3>
        <p class="anim">Animé par Jules Gyomorey</p>
        <p class="date">Date : Jeudi 4 juillet et Vendredi 5 juillet 2013 de 14h à 18h</p>
        <p class="venue">Lieu : Médiathèque André Malraux, 1 Presqu’île André Malraux 67076 Strasbourg</p>
        <p class="type">Événement gratuit. Inscription par mail à <a href="mailto:contact.seegmuller@strasbourg.eu">contact.seegmuller@strasbourg.eu</a> ou à la médiathèque Malraux sur place. Nombre de place limités, ne tardez pas à vous inscrire !</p>
        <p class="type">Atelier pour enfants de 8 à 12 ans, nombre limité à 10 enfants</p>
        <p class="concept">
          L'atelier propose une initiation au Stop-motion et plus précisément de se frotter à la technique de la
            <a href="https://fr.wikipedia.org/wiki/Pixilation">Pixilation</a>.
          Seule technique d'animation où les stagiaires redeviennent les acteurs du film.
          Ce sera l'occasion de tenter de réaliser vos meilleurs trucages visuels utilisés à l'origine par de grands
          cinéastes comme Mélies. Ici les stagiaires passeront par les étapes clés du processus de réalisation, scénario,
            tournage, choix sonore et pré-montage.
        <p class="concept">
          Enfin, le plateau de tournage ne se limitera plus à une salle close mais à la presqu’île Malraux toute entière.
        </p>
        <p class="concept">
          Ci-contre, un exemple de travail mené par des enfants
        </p>
      </div>
      <div class="span6">
        <ul class="thumbnails">
          <li class="span6">
            <iframe width="420" height="315" src="//www.youtube.com/embed/6vgagFdZj4Q?rel=0" frameborder="0" allowfullscreen></iframe>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="vjing" class="summercamp">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h3>Atelier Vjaying/Videomapping <span class="full">ATELIER COMPLET !</span></h3>
        <p class="anim">Animé par Jérémie Bellot (AV Exciters), Sebastien Schnabel (AV Exciters) et Josselin Fouché (AV Exciters)</p>
        <p class="date">Date : Vendredi 5 juillet, de 14h à 18h</p>
        <p class="venue">Lieu : Médiathèque André Malraux, 1 Presqu’île André Malraux 67076 Strasbourg</p>
        <p class="type">Événement gratuit. Inscription par mail à <a href="mailto:contact.seegmuller@strasbourg.eu">contact.seegmuller@strasbourg.eu</a> ou à la médiathèque Malraux sur place. Nombre de place limités, ne tardez pas à vous inscrire !</p>
        <p class="type">Public averti, chaque participant doit être muni d’un Mac Book Pro récent</p>
        <p class="concept">
          Atelier en 2 parties :
          <br/>
          Initiation à Modul8 // Madmapper
          <br/>
          Chaque participant se verra remettre un pack de séquences vidéos réalisées in situ qu’il apprendra à retoucher, maîtriser et remixer, puis à les mapper sur une série de volumes complexes. Qu’est-ce que le mapping ? Une méthode de projection qui vous permet d’envoyer une image dans une forme aux contours bien définis, c’est un peu comme colorier sans déborder !
        </p>
      </div>
    </div>
  </div>
</section>
<section id="devoxx4kids" class="summercamp">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h3>Devoxx4Kids</h3>
        <p class="anim">Animé par Sébastien Letelié (Alsace Digitale) et Armand Dupuis, Julien Ernewein (Epitech)</p>
        <p class="date">Date : Samedi 6 juillet, de 14h à 18h (2 séances 14h/16h et 16h/18h pour 2 groupes de 10 enfants)</p>
        <p class="venue">Lieu : Médiathèque André Malraux, 1 Presqu’île André Malraux 67076 Strasbourg</p>
        <p class="type">Événement gratuit. Inscription par mail à <a href="mailto:contact.seegmuller@strasbourg.eu">contact.seegmuller@strasbourg.eu</a> ou à la médiathèque Malraux sur place. Seulement 10 places par session, ne tardez pas à vous inscrire !</p>
        <p class="type">Enfants de 10 à 14 ans accompagnés d'un parent (si vous avez un ordinateur vous pouvez l'emmener, dans le cas contraire l'organisation vous en fournira un)</p>
        <p class="concept">
          2 ateliers en parallèle :
          <ul>
            <li>Initiation à la programmation avec Scratch (Sébastien Letelié)</li>
            <li>Lego Mindstorm avec le club de robotique de l'Epitech (Armand Dupuis et Julien Ernewein)</li>
          </ul>
        </p>
        <p class="concept">
          Après une présentation de l'outil, organisé par binômes, les enfants auront à réaliser une animation en utilisant leur imagination.
        </p>
      </div>
    </div>
  </div>
</section>
<section id="demoavlab" class="summercamp">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h3>Démo AV Lab : Workshop imprimante 3D</h3>
        <p class="anim">Animé par Anne Sophie Acomat et Nicolas Muller</p>
        <p class="date">Date : Samedi 6 juillet, de 14h à 18h</p>
        <p class="venue">Lieu : Médiathèque André Malraux, 1 Presqu’île André Malraux 67076 Strasbourg</p>
        <p class="type">Événement gratuit. Inscription par mail à <a href="mailto:contact.seegmuller@strasbourg.eu">contact.seegmuller@strasbourg.eu</a> ou à la médiathèque Malraux sur place. Nombre de place limités, ne tardez pas à vous inscrire !</p>
        <p class="type">Tout public</p>
        <p class="concept">
          Cet atelier sera l’occasion de découvrir le processus de l’impression 3D dans son ensemble, en comprendre les principes de l’idée à sa réalisation.
        </p>
        <p class="concept">
          Nous proposons de mettre à disposition deux tablettes. Des applications permettront au public, même non averti, de modéliser des objets. Certain de ces objets seront ensuite directement réalisées grâce à l’imprimante mis a disposition pour le workshop.
        </p>
        <p class="concept">
          Ce principe permet de comprendre de manière directe la chaine de fabrication.
        </p>
        <p class="concept">
          Ce sera également un temps d’échange autour de la question de l’impact de l’impression 3D dans la chaine de création.
        </p>
      </div>
    </div>
  </div>
</section>
