<section class="eventbox blockchain" id="ukraine" data-title="{{ page.title }}" data-image="{{ page.facebook_image }}" data-description="{{ page.facebook_description }}">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Ukraine Numerique en Alsace</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <p class="date">Date : Lundi 25 juin de 10h à 12h</p>
        <p class="venue">Lieu : Shadok</p>
        <p class="type">Gratuit sur inscription. <a href="https://www.eventbrite.fr/e/billets-ukraine-numerique-en-alsace-46886711416">Participez ici !</a></p>
        <p class="concept">Rencontre avec une délégation de Startups Ukrainiennes</p>
        <p class="concept">Les technologies électroniques et la blockchain deviendront-elles la base de l'économie après la 4-ème révolution industrielle pour la France ou pour les pays de l’Europe de l’Est comme l’Ukraine ? – Quels sont les défis majeurs à relever avec le numérique dans les prochaines années ?<br><br>Comment structurer les coopérations qui permettront de faire émerger des solutions innovantes et à quelle échelle ?<br><br>Ce moment d'échange permettra de croiser les points de vue et les expériences.</p>
        <p class="concept">En parallèle de cette rencontre des artistes locaux sont invités à interpréter la notion de blockchain à travers leur art : c'est le Block Chain Art Hackathon !</p>
        <div class="row">
          <!--<div class="col-md-6">
            <div class="thumbnail" style="margin-top: 25px; min-height: 150px;">
              <img src="/img/logos/orig/entrepreneursalsace.png" style="margin-top: 38px;" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="thumbnail" style="margin-top: 25px; min-height: 150px;">
              <img src="/img/gen.png" style="margin-top: 14px;" />
            </div>
          </div>-->
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="/img/ukraine.png" />
        </div><!--
        <div class="thumbnail">
          <img src="/img/logos/orig/apero.png" style="width: 195px;" />
        </div>-->
      </div>
    </div>
  </div>
</section>
