<section class="edgeday" id="edgeday">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>WebStar'ter</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7" style="margin-bottom: 35px;">
        <p class="date">Date : Mercredi 5 juillet de 10h à 15h</p>
        <p class="venue">Lieux : Le Shadok</p>
        <p class="type">Événement gratuit, entrée libre.</p>
        <p class="concept">
          Tu as toujours rêvé de lancer ton blog ou ta chaîne youtube ? Tu as plein de supers idées mais tu ne sais pas par où commencer ? WebStar’ter c’est l’occasion rêvée de recevoir les conseils avisés d’experts du net. Sous forme de mini-ateliers, vous découvrirez comment vous lancer sur le web !
        </p>
        <p class="concept">
          Nos intervenants couvriront 4 thématiques :
        </p>
        <ul>
          <li>produire une vidéo et la diffuser sur YouTube</li>
          <li>rédiger un article de blog</li>
          <li>créer son blog ou site web</li>
          <li>gérer sa présence sur les différents réseaux sociaux</li>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-xs-12">          
            <div class="thumbnail">
               <img src="img/webstarter.jpg" />
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
