<section class="eventbox webstarter" id="webstarter" data-title="{{ page.title }}" data-image="{{ page.facebook_image }}" data-description="{{ page.facebook_description }}">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>WebStar'ter</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7" style="margin-bottom: 35px;">
        <p class="date">Date : Dimanche 1 juillet de 11h à 15h</p>
        <p class="venue">Lieux : Le Shadok</p>
        <p class="type">Événement gratuit, entrée libre.<!-- <a href="https://www.facebook.com/events/737941119719883/" target="_blank">Événement Facebook</a>--></p>
        <p class="concept">
          Envie de démarrer sur YouTube, Instagram ou tout simplement de créer un blog ? WebStar’ter c'est l’occasion idéale pour recevoir les conseils avisés de nos experts du net ! Sous la forme de courtes sessions, vous allez comprendre comment sauter le pas et vous lancer sur le Web !
        </p>
        <p class="concept">
          Nos intervenants couvriront plusieurs thématiques :
        </p>
        <ul>
          <li>produire une vidéo et la diffuser sur YouTube</li>
          <li>rédiger un article de blog</li>
          <li>devenir un pro de la photo et des stories sur Instagram</li>
          <li>gérer sa présence sur les différents réseaux sociaux</li>
        </ul>
        <h3>Liste des intervenants</h3>
        <p><i>On vous révèle bientôt le nom des intervenants !</i></p>
        <!--<ul>
          <li><a href="https://www.strasmiam.com/" target="_blank">Emanouela Todorova</a> (10h-12h) : freelance hyperconnectée et gourmande, elle décide de quitter le statut de salarié pour se lancer enfin dans le grand monde de l’entreprenariat et développer ses projets tels que le blog Stras'Miam et la communication culinaire, puis les vide dressing EVSD.</li>
          <li><a href="http://www.pokaa.fr/" target="_blank">Vivien Latuner</a> (10h-13h) : Hyper-connecté et hyper-informé, il vadrouille et partage ses découvertes tout au long de la journée. Co-fondateur du webmedia 100% strasbourgeois Pokaa, il a pu suivre l'évolution de ce dernier tout en découvrant la complexité du monde des médias.</li>
          <li><a href="http://jeremymeetsjapan.net/" target="_blank">Jeremy Touitou</a> (10h-13h) : il crée des contenus vidéos pour sa chaine Japon Jeremy Meets Japan sur Youtube et Facebook. Il réalise différents formats alors vous verrez comment produire une video en 1h ou 3 jours !</li>
          <li><a href="https://www.youtube.com/c/FrancoisSchnell" target="_blank">Francois Schnell</a> (12h-15h) : addicte à YouTube, il produit dans son temps libre des tutoriels autour des logiciels libres. Il anime également des ateliers ouverts à tous au Centre de culture numérique</li>
          <li><a href="https://www.linkedin.com/in/matthieu-kern-1047b29a" target="_blank">Matthieu Kern</a> (12h-15h) : développeur de compet tout fraichement revenu des États-Unis, il vous montrera comment créer votre blog gratuitement ou lancer votre premier site web</li>
        </ul>-->
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-xs-12">          
            <div class="thumbnail">
               <img src="img/webstarter.jpg" />
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
